$grey: #6b7280;
$light-blue: #bfdbfe;
$red: #ef4444;
$light-red: #fca5a5;
$yellow: #f59e0b;
$light-yellow: #fde68a;

$primary: #2563eb;
$primary-dark: #1e40af;
$secondary: #0ea5e9;
$secondary-dark: #075985;
$hover: #0d9488;
$hover-dark: #155e75;
$light-grey: #fcfcfc;

$sidebar-background: #fff;
