/**
 * Dashboard Layout
 */
#dashboard {
  display: flex;
  #content {
    position: relative;
    width: calc(100% - 280px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    #main-content {
      width: 100%;
      margin-top: 20px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
  }
}

/**
 * Top Navbar
 */
#top-nav {
  position: relative;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $light-grey;
  border-left: 1px solid $light-grey;
  //box-shadow: 0px 4px 4px rgba(43, 45, 55, 0.0105441);
  nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding-left: 0;
      margin-bottom: 0;
      li {
        &.burger-button {
          a {
            position: relative;
            padding-left: 0;
            z-index: 999999;
            font-size: 18px;
          }
        }
        a {
          color: $grey;
          font-size: 16px;
          padding-left: 10px;
          padding-right: 10px;
          font-weight: 400;
          &:hover {
            color: #000;
          }
          i {
            font-size: 18px;
          }
        }
      }
    }
  }
}

/**
 * Sidebar
 */
#sidebar {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  width: 280px;
  height: 100vh;
  background: #1e293b; // Tailwind slate-800
  border-right: 1px solid #334155; // Tailwind slate-700
  overflow-y: auto;
  padding: 10px 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;

  .divider {
    flex: 1;
  }

  // Custom Scroll Bar
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #334155; // Tailwind slate-700
  }

  &::-webkit-scrollbar-thumb {
    background: #475569; // Tailwind slate-600
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #64748b; // Tailwind slate-500
  }

  // Profile Card
  .profile-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    .image {
      margin-top: 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      img {
        height: 70px;
      }
    }
  }

  // Sidebar Menu & Links
  nav.menu {
    margin-top: 1.5rem;
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        border-radius: 0.5rem;
        transition: all 0.3s ease;
        margin-bottom: 0.375rem;
        &.opened {
          background: #f3f4f6; // Tailwind gray-100
          > a {
            color: #4b5563; // Tailwind gray-600
            .icon {
              color: #4b5563; // Tailwind gray-600
            }
          }
          > a + div {
            padding-bottom: 0.375rem;
            li {
              a {
                &.router-link-active {
                  background: #0284c7; // Active background
                  color: #fff; // Active color
                  .icon {
                    color: #fff; // Active icon color
                  }
                }
              }
            }
          }
        }
        a {
          position: relative;
          display: flex;
          align-items: center;
          padding: 0.75rem;
          border-radius: 0.5rem;
          color: #4b5563; // Tailwind gray-600
          font-size: 0.875rem;
          font-weight: 600;
          text-transform: capitalize;
          .icon {
            width: 1.875rem;
            text-align: center;
            font-size: 1rem;
            margin-right: 0.625rem;
          }
          span {
            letter-spacing: 0.025em;
          }
          &.router-link-active {
            background: #0284c7; // Active background
            color: #fff; // Active color
            .icon {
              color: #fff; // Active icon color
            }
          }
          &:not(.router-link-active):hover {
            background: #f3f4f6; // Tailwind gray-100
            color: #4b5563; // Tailwind gray-600
            .icon {
              color: #4b5563; // Tailwind gray-600
            }
          }
        }
        &.dropdown-link {
          padding-bottom: 0;
          padding-top: 0;
          .arrow {
            position: absolute;
            right: 0.9375rem;
            top: 50%;
            transform: translateY(-50%);
          }
          .collapse, .collapsing {
            li {
              padding-top: 0;
              padding-bottom: 0;
              margin-bottom: 0;
              a {
                padding: 0.5rem 0.625rem 0.5rem 2.5rem;
                .icon {
                  font-size: 0.75rem;
                }
                &:not(.router-link-active):hover {
                  background: #f3f4f6; // Tailwind gray-100
                  .icon {
                    color: #4b5563; // Tailwind gray-600
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
