@media only screen and (max-width: 768px) {
  #sidebar {
    left: -280px;
    &.opened {
      box-shadow: 1px 1px 1000px 1000px rgba(0, 0, 0, 0.6);
      left: 0 !important;
    }
  }
  #content {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
