@import "colors";
@import "layout";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

#app {
  //background: #f5f6fa;
  font-family: 'Nunito', sans-serif;
  a {
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      text-decoration: none !important;
    }
  }
}

#dashboard {
  background: #f8fafc; // Tailwind slate-50
  #sidebar {
    background: #e2e8f0; // Tailwind slate-800
    border-right: 1px solid #f3f4f6; // Tailwind slate-700
    h2 {
      color: #334155; // Tailwind slate-200
      font-weight: 700;
      font-size: 1.5rem; // 24px
      text-align: center;
      margin-top: 1rem; // 16px
    }
  }
  #top-nav {
    background: transparent;
  }
  #main-content {
    background: #ffffff; // Tailwind white
    border-radius: 0.75rem; // 12px
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); // Tailwind shadow-md
    margin-bottom: 2rem; // 32px
  }
}

.form-group {
  margin-bottom: 20px !important;
  legend {
    color: #000;
    font-weight: 600 !important;
  }
  &:last-child {
    margin-bottom: 10px !important;
  }
}

.modal-content {
  border: 0 !important;
  .modal-title {
    font-size: 16px !important;
  }
}

.image-preview {
  width: 100%;
  height: 250px;
  background: $light-blue;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.file-input {
  .image-preview {
    max-width: 80px;
    max-height: 80px;
    margin-right: 20px;
  }
}

.icon-preview {
  background: $light-blue;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.icon-input {
  .icon-preview {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.pagination {
  background: #fff;
  padding-left: 10px !important;
  padding-right: 10px !important;
  .page-link {
    margin: 10px 5px;
    padding: 4px 10px;
    border: 0;
    color: $grey;
    border-radius: 3px;
    transition: 0.3s;
    font-size: 14px;
    &:hover {
      background: $primary;
      color: #fff;
    }
  }
  .page-item.active {
    .page-link {
      background: $primary;
    }
  }
}

.page-title {
  .title {
    font-weight: 600;
    margin-bottom: 0;
  }
}

// Customize Bootstrap
table.table {
  margin-bottom: 0;
  thead {
    tr {
      th {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 0 !important;
        border-top: 0 !important;
        color: $grey;
        font-weight: 600 !important;
        font-size: 14px;
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        font-size: 14px;
        border-color: #f5f6fa !important;
      }
    }
  }
  tfoot {
    tr {
      th {
        padding-top: 15px;
        padding-bottom: 15px;
        border-color: #f5f6fa !important;
        color: $grey;
        font-weight: 600 !important;
        font-size: 14px;
      }
    }
  }
}
*:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 #fff !important;
}

.btn {
  border: 0 !important;
  padding: 7px 20px !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  //box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px !important;
  &.btn-default {
    box-shadow: 0 0 0 #fff !important;
  }
  &.dropdown-toggle {
    display: flex;
    align-items: center;
    &:after {
      margin-left: 10px;
    }
  }
  &.btn-primary {
    background: $primary;
    &:hover {
      background: $secondary;
    }
    &:focus {
      background: $primary;
    }
    &:focus:hover {
      background: $secondary;
    }
    &:active {
      background: $secondary-dark !important;
    }
  }
  &.btn-secondary {
    background: $secondary;
    &:hover {
      background: $hover;
    }
    &:focus {
      background: $hover-dark !important;
    }
    &:focus:hover {
      background: $hover;
    }
    &:active {
      background: $hover-dark !important;
    }
  }
}

.card {
  border: 0 !important;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  .card-header,
  .card-title {
    background: #fff !important;
    border-bottom: 0 !important;
    font-weight: bold;
    font-size: 18px;
    h6 {
      font-weight: bold;
      font-size: 18px;
    }
  }
  .card-footer {
    background: #fff !important;
    border-top: 0 !important;
    padding-bottom: 20px !important;
    font-weight: bold;
    font-size: 18px;
  }
}

.collapse-container {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0 !important;
  }
  .collapse-content {
    padding: 15px;
    border: 1px solid #000;
    border-top: 0 !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #fff;
  }
}
.collapse-button {
  position: relative;
  background: #fff;
  border: 1.5px solid #ddd;
  text-align: left !important;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px 15px 10px 40px;
  color: $grey;
  font-size: 15px;
  font-weight: 600;
  transition: 0 !important;
  &.collapse-open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: #000;
    color: #000;
    &:before {
      background: $primary;
    }
  }
  &:before {
    position: absolute;
    content: '';
    left: 15px;
    top: 16px;
    width: 10px;
    height: 10px;
    background: $grey;
    border-radius: 5px;
  }
}

.custom-notifications {
  padding: 10px;
  margin: 20px 10px 5px;

  font-size: 14px;

  color: #ffffff;
  background: #44a4fc;
  border-left: 5px solid #187fe7;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #e54d42;
    border-left-color: #b82e24;
  }

  &.success {
    background: #68cd86;
    border-left-color: #42a85f;
  }
}

.nav.nav-pills {
  background: $light-grey !important;
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
  min-width: 200px;
  padding-top: 25px;
  li {
    margin-bottom: 10px;
    a {
      font-size: 16px;
      font-weight: 400;
      width: min-content;
    }
  }
}

.component-bg {
  background: #f5f6fa;
  padding: 20px;
  border-radius: 10px;
}

.v-select.vs--single.vs--searchable {
  background: #fff;
}

.slug-input-area {
  margin-top: 8px;
  display: flex;
  align-items: center;
  font-size: 12px;
  span {
    padding-top: 5px;
  }
}

.slug-input {
  width: 100%;
  background: #fff;
  color: rgb(110, 110, 110);
  border: 0;
  margin-top: 5px;
  font-size: 12px;
  transition: .3s;
}

@import "responsive";
