<template>
  <div>
    <b-row v-if="contentLoaded">
      <b-col>
        <b-form-group label="API Key">
          <b-form-input v-model="content.api_key" />
        </b-form-group>
      </b-col>
      <b-col>
        <b-form-group label="API Secret">
          <b-form-input v-model="content.api_secret" />
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="text-right">
        <b-button variant="primary" @click="refresh">
          Yeni Üret
        </b-button>
      </b-col>
    </b-row>
    <loader v-if="!contentLoaded" />
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Api',
  data() {
    return {
      contentLoaded: false,
      content: {}
    };
  },
  methods: {
    ...mapActions(['getWebsiteApiKeys', 'refreshApiKeys']),
    refresh() {
      // API Keys will be refreshed and will be loaded again. Are you sure?
      this.$swal({
        icon: 'warning',
        title: 'Emin misiniz?',
        text:
          'API Anahtarları yenilenecek ve tekrar yüklenecek. Devam etmek istiyor musunuz?',
        showCancelButton: true,
        cancelButtonText: 'Cancel'
      }).then(ok => {
        if (ok.value) {
          this.contentLoaded = false;
          this.refreshApiKeys().then(response => {
            this.content = response.data;
            this.contentLoaded = true;
          });
        }
      });
    },
    load() {
      this.contentLoaded = false;
      this.getWebsiteApiKeys().then(response => {
        this.content = response.data;
        this.contentLoaded = true;
      });
    }
  },
  mounted() {
    this.load();
  }
};
</script>
