<template>
  <div>
    <b-row>
      <b-col xs="12">
        <h5>Şifre Değiştir</h5>
        <div class="separator mb-5" />
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-form-group label="Eski Şifre">
          <b-form-input v-model="form.password_old" />
        </b-form-group>
        <b-form-group label="Yeni Şifre">
          <b-form-input v-model="form.password" />
        </b-form-group>
        <b-form-group label="Yeni Şifre Tekrar">
          <b-form-input v-model="form.password_confirmation" />
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="text-right">
        <b-button @click.prevent="changePassword">
          Ayarları Kaydet
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'CompanySettings',
  data() {
    return {
      form: {
        password_old: '',
        password: '',
        password_confirmation: ''
      }
    };
  },
  methods: {
    ...mapActions(['changeMyPassword']),
    changePassword() {
      this.changeMyPassword(this.form)
        .then(response => {
          this.success(response.data.message);
        })
        .catch(error => {
          this.error(error.response.data.message);
        });
    }
  }
};
</script>
