<template>
  <div>
    <div class="page-title">
      <h4 class="title">
        Ayarlar
      </h4>
    </div>

    <div class="mb-4">
      <div v-if="contentLoaded">
        <collapse title="İletişim Ayarları">
          <b-form-group class="component-bg">
            <label>İletişim Formu</label>
            <b-form-radio-group
              v-model="contact_type"
              :options="[
                { text: 'E-mail', value: 'email' },
                { text: 'Webhook', value: 'webhook' }
              ]"
            />
            <b-form-group
              :label="
                `${
                  contact_type === 'email'
                    ? 'E-mail Gönderilecek Adres'
                    : 'POST Atılacak Web Adresi'
                }`
              "
              class="mt-2"
            >
              <b-form-input v-model="contact_target" />
            </b-form-group>
          </b-form-group>
          <b-row>
            <b-col>
              <form-element :element="generalSettings.email" />
            </b-col>
            <b-col>
              <form-element :element="generalSettings.phone" />
            </b-col>
            <b-col>
              <form-element :element="generalSettings.phone2" />
            </b-col>
          </b-row>
          <form-element :element="generalSettings.address" />
          <form-element :element="generalSettings.maps_iframe_url" />
        </collapse>

        <collapse
          v-for="setting in settingGroups"
          :key="setting"
          :title="setting"
        >
          <b-row>
            <div
              v-for="(formElement, key) in collapse(setting)"
              :key="100 + key"
              :class="formElement.grid_class"
            >
              <form-element
                :element="formElement"
                @uploadImage="uploadPhoto"
                @uploadFile="uploadPhoto"
              />
            </div>
          </b-row>
        </collapse>

        <collapse title="Geliştirici Ayarları">
          <form-element :element="generalSettings.headTag" />
          <form-element :element="generalSettings.bodyTag" />
          <form-element :element="generalSettings.externalCSS" />
          <b-row>
            <b-col>
              <form-element :element="generalSettings.googleRecaptchKey" />
            </b-col>
            <b-col>
              <form-element :element="generalSettings.googleRecaptchSecret" />
            </b-col>
          </b-row>
        </collapse>
        <b-row>
          <div
            v-for="(setting, key) in otherSettings"
            :key="key"
            :class="setting.grid_class"
          >
            <form-element
              :element="setting"
              @uploadImage="uploadPhoto"
              @uploadFile="uploadPhoto"
            />
          </div>
        </b-row>
      </div>
      <loader v-else />
    </div>
    <b-row>
      <b-col class="text-right">
        <b-button :disabled="loading" @click="update">
          Kaydet
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Collapse from '../../components/Collapse';
import FormElement from '../../components/FormElement';
import { mapActions } from 'vuex';

import { generalSettings } from '../../config/settings';

export default {
  name: 'Settings',
  components: { Collapse, FormElement },
  data() {
    return {
      contentLoaded: false,
      loading: false,
      contact_type: 'email',
      contact_target: '',
      generalSettings,
      settingsArray: {},
      otherSettings: []
    };
  },
  methods: {
    ...mapActions(['settings', 'imageUpload', 'updateSettings']),
    update() {
      this.loading = true;
      this.updateSettings(this.prepareRequest())
        .then(response => {
          this.success(response.data.message);
          this.loading = false;
        })
        .catch(error => {
          this.error(error.response.data.message);
          this.loading = false;
        });
    },
    prepareRequest() {
      const request = {
        social_media: {}
      };

      // Contact Settings
      request.phone = this.generalSettings.phone.value;
      request.phone2 = this.generalSettings.phone2.value;
      request.email = this.generalSettings.email.value;
      request.address = this.generalSettings.address.value;
      request.maps_iframe_url = this.generalSettings.maps_iframe_url.value;

      // Developer Settings
      request.contact_type = this.contact_type;
      request.contact_target = this.contact_target;
      request.head_tag = this.generalSettings.headTag.value;
      request.body_tag = this.generalSettings.bodyTag.value;
      request.external_css = this.generalSettings.externalCSS.value;
      request.google_recaptch_key = this.generalSettings.googleRecaptchKey.value;
      request.google_recaptch_secret = this.generalSettings.googleRecaptchSecret.value;

      // dynamic settings
      Object.values(this.settingsArray).map(arr => {
        arr.map(item => {
          request['setting-' + item.id] = item.value;
        });
      });

      return request;
    },
    loadData() {
      this.contentLoaded = false;
      this.settings()
        .then(json => json.data)
        .then(res => {
          this.generalSettings.maps_iframe_url.value =
            res.website.maps_iframe_url;
          this.generalSettings.phone.value = res.website.phone;
          this.generalSettings.phone2.value = res.website.phone2;
          this.generalSettings.email.value = res.website.email;
          this.generalSettings.address.value = res.website.address;
          this.settingsArray = res.settings;
          this.contact_type = res.website.contact_type;
          this.contact_target = res.website.contact_target;

          this.generalSettings.headTag.value = res.website.head_tag || '';
          this.generalSettings.bodyTag.value = res.website.body_tag || '';
          this.generalSettings.externalCSS.value =
            res.website.external_css || '';
          this.generalSettings.googleRecaptchKey.value =
            res.website.google_recaptch_key || '';
          this.generalSettings.googleRecaptchSecret.value =
            res.website.google_recaptch_secret || '';
          this.contentLoaded = true;
        });
    },
    collapse(name) {
      return this.settingsArray[name];
    },
    uploadPhoto(data) {
      data.element.loading = true;
      this.imageUpload(data.formData).then(response => {
        data.element.value = response.data.file_url;
        data.element.loading = false;
      });
    }
  },
  computed: {
    settingGroups() {
      return Object.keys(this.settingsArray);
    }
  },
  mounted() {
    // Get current menu element
    this.loadData();
  }
};
</script>
