<template>
  <b-row>
    <b-col xs="12">
      <b-card class="mb-4">
        <b-tabs pills card vertical>
          <b-tab title="Kullanıcı Bilgileri" active>
            <user-settings :user="user" @save-changes="saveUserSettings" />
          </b-tab>
          <b-tab title="Şifreyi Değiştir">
            <change-password :user="user" />
          </b-tab>
        </b-tabs>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import UserSettings from './UserSettings';
import ChangePassword from './ChangePassword';

export default {
  name: 'Settings',
  components: { UserSettings, ChangePassword },
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    ...mapActions(['setUser', 'updateProfile']),
    saveUserSettings() {
      this.updateProfile(this.user)
        .then(response => {
          this.setUser(this.user);
          this.success(response.data.message);
        })
        .catch(error => {
          this.error(error.response.data.message);
        });
    }
  }
};
</script>

<style>
ul.nav.nav-pills {
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  align-items: flex-start;
}
ul.nav.nav-pills li {
  margin-bottom: 15px;
}
ul.nav.nav-pills li a {
  width: max-content;
}
</style>
