<template>
  <div>
    <b-row>
      <b-col xs="12">
        <h5>Kullanıcı Bilgileri</h5>
        <div class="separator mb-5" />
      </b-col>
    </b-row>
    <b-row v-if="user">
      <b-col xs="12" md="4">
        <b-form-group label="Ad Soyad">
          <b-form-input v-model="user.name" />
        </b-form-group>
      </b-col>
      <b-col xs="12" md="4">
        <b-form-group label="E-mail Adresi">
          <b-form-input v-model="user.email" />
        </b-form-group>
      </b-col>
    </b-row>
    <b-row class="mt-3">
      <b-col class="text-right">
        <b-button @click.prevent="submit">
          Ayarları Kaydet
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'UserSettings',
  props: ['user'],
  methods: {
    submit() {
      this.$emit('save-changes');
    }
  }
};
</script>
