<template>
  <div>
    <b-card no-body>
      <b-row v-for="(setting, key) in settings" :key="key" class="mt-4">
        <b-col>
          <b-row>
            <b-col>
              <b-form-group label="Label">
                <b-form-input v-model="setting.label" />
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group label="Type">
                <b-form-select
                  v-model="setting.type"
                  :options="[
                    'text',
                    'select',
                    'textarea',
                    'editor',
                    'file',
                    'checkbox',
                    'radio'
                  ]"
                />
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group label="Group Name">
                <b-form-input v-model="setting.group_name" />
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group label="Grid Class">
                <b-form-input v-model="setting.grid_class" />
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group label="Sort">
                <b-form-input v-model="setting.sort" />
              </b-form-group>
            </b-col>
            <b-col
              v-if="setting.type === 'select' || setting.type === 'radio'"
              sm="12"
            >
              <b-form-group :label="`${setting.label} Options`">
                <b-form-textarea v-model="setting.options" />
              </b-form-group>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="1" style="padding-top:37px">
          <a href="#" @click.prevent="deleteSetting(key)">X Kaldir</a>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <a href="#" @click.prevent="createSetting">+ Yeni Ekle</a>
        </b-col>
      </b-row>
      <loader v-if="!contentLoaded" />
    </b-card>

    <div class="w-100 text-right mt-3">
      <b-button @click="submit">
        Kaydet
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'Settings',
  data() {
    return {
      contentLoaded: false,
      settings: [],
      fields: [
        { key: 'label' },
        { key: 'type' },
        { key: 'group_name' },
        { key: 'actions', label: '', thStyle: { width: '100px' } }
      ]
    };
  },
  methods: {
    ...mapActions([
      'updateWebsiteSettings',
      'getWebsiteSettings',
      'deleteSetting'
    ]),
    submit() {
      this.updateWebsiteSettings({
        settings: this.settings
      }).then(response => {
        this.success(response.data.message);
      });
    },
    createSetting() {
      this.settings.push({
        label: '',
        type: 'text',
        group_name: '',
        grid_class: '',
        sort: 1,
        options: ''
      });
    },
    deleteSetting(key) {
      this.settings.splice(key, 1);
    },
    loadData() {
      this.contentLoaded = false;
      return this.getWebsiteSettings(this.parameters()).then(response => {
        this.settings = response.data.map(item => {
          if (item.options && item.options.length > 0) {
            item.options = item.options.join(',');
          }
          return item;
        });

        this.contentLoaded = true;
      });
    },
    parameters() {
      const params = {};
      return params;
    },
    deleteAction(id) {
      this.$swal({
        icon: 'warning',
        title: 'Emin misiniz?',
        text: 'Ayar kalici olarak silinecek, emin misiniz?',
        showCancelButton: true,
        cancelButtonText: 'Cancel'
      }).then(ok => {
        if (ok.value) {
          this.deleteSetting(id)
            .then(response => {
              this.success(response.data.message);
              this.$refs.table.refresh();
            })
            .catch(error => {
              this.error(error.response.data.message);
            });
        }
      });
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>
