<template>
  <div>
    <b-table
      v-if="menuElement.type === 'crud'"
      :items="menuElement.custom_fields"
      :fields="crudFields"
    >
      <!-- Actions -->
      <template v-slot:cell(actions)="data">
        <b-dropdown right variant="default">
          <b-dropdown-item
            :to="{
              name: 'edit-custom-field',
              params: { customFieldId: data.item.id }
            }"
          >
            Edit
          </b-dropdown-item>

          <b-dropdown-divider />

          <b-dropdown-item @click="deleteCustomFieldAction(data.item.id)">
            <span class="text-danger">Delete</span>
          </b-dropdown-item>
        </b-dropdown>
      </template>
      <!--#Actions -->
    </b-table>
    <b-table v-else :items="menuElement.settings" :fields="settingFields">
      <!-- Actions -->
      <template v-slot:cell(actions)="data">
        <b-dropdown right variant="default">
          <b-dropdown-item
            :to="{
              name: 'edit-setting',
              params: { settingId: data.item.id }
            }"
          >
            Edit
          </b-dropdown-item>

          <b-dropdown-divider />

          <b-dropdown-item @click="deleteSettingAction(data.item.id)">
            <span class="text-danger">Delete</span>
          </b-dropdown-item>
        </b-dropdown>
      </template>
      <!--#Actions -->
    </b-table>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  data() {
    return {
      crudFields: [
        { key: 'label' },
        { key: 'type' },
        { key: 'sort' },
        { key: 'options' },
        { key: 'actions' }
      ],
      settingFields: [
        { key: 'label' },
        { key: 'type' },
        { key: 'sort' },
        { key: 'group_name' },
        { key: 'options' },
        { key: 'actions' }
      ],
      menuElement: {}
    };
  },
  methods: {
    ...mapActions([
      'getMenuElement',
      'deleteCustomPageSetting',
      'deleteCustomField'
    ]),
    deleteCustomFieldAction(id) {
      this.$swal({
        icon: 'warning',
        title: 'Emin misiniz?',
        text: 'Custom field kalıcı olarak silinecek, emin misiniz?',
        showCancelButton: true,
        cancelButtonText: 'Cancel'
      }).then(ok => {
        if (ok.value) {
          this.deleteCustomField(id)
            .then(response => {
              this.success(response.data.message);
              this.$refs.table.refresh();
            })
            .catch(error => {
              this.error(error.response.data.message);
            });
        }
      });
    },
    deleteSettingAction(id) {
      this.$swal({
        icon: 'warning',
        title: 'Emin misiniz?',
        text: 'Ayar kalici olarak silinecek, emin misiniz?',
        showCancelButton: true,
        cancelButtonText: 'Cancel'
      }).then(ok => {
        if (ok.value) {
          this.deleteCustomPageSetting(id)
            .then(response => {
              this.success(response.data.message);
              this.$refs.table.refresh();
            })
            .catch(error => {
              this.error(error.response.data.message);
            });
        }
      });
    }
  },
  mounted() {
    this.getMenuElement(this.$route.params.id).then(response => {
      this.menuElement = response.data;
    });
  }
};
</script>
