<template>
  <div>
    <b-form-group label="Label">
      <b-form-input v-model="customField.label" />
    </b-form-group>
    <b-form-group label="Type">
      <b-form-select
        v-model="customField.type"
        :options="[
          'text',
          'select',
          'textarea',
          'color',
          'editor',
          'file',
          'image',
          'checkbox',
          'radio',
          'list',
          'key_value',
          'icon_font_awesome',
          'icon_boxicons'
        ]"
      />
    </b-form-group>
    <b-form-group
      v-if="customField.type === 'select' || customField.type === 'radio'"
      label="Options"
    >
      <b-form-input v-model="customField.options" />
    </b-form-group>
    <b-form-group label="Grid Class">
      <b-form-input v-model="customField.grid_class" />
    </b-form-group>
    <b-form-group label="Group Name">
      <b-form-input v-model="customField.group_name" />
    </b-form-group>
    <b-form-group label="Sort">
      <b-form-input v-model="customField.sort" />
    </b-form-group>
    <b-form-group>
      <b-button variant="primary" @click="saveCustomField">
        Save
      </b-button>
    </b-form-group>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'CustomFieldForm',
  data() {
    return {
      customField: {}
    };
  },
  methods: {
    ...mapActions(['getCustomField', 'updateCustomField', 'createCustomField']),
    saveCustomField() {
      if (this.$route.params.menuElementId) {
        // store
        this.createCustomField({
          menuElementId: this.$route.params.menuElementId,
          data: this.customField
        })
          .then(response => {
            this.success(response.data.message);
          })
          .catch(error => {
            this.error(error.response.data.message);
          });
      } else {
        // update
        this.updateCustomField({
          id: this.$route.params.customFieldId,
          data: this.customField
        })
          .then(response => {
            this.success(response.data.message);
          })
          .catch(error => {
            this.error(error.response.data.message);
          });
      }
    }
  },
  mounted() {
    if (this.$route.params.customFieldId) {
      this.getCustomField(this.$route.params.customFieldId).then(response => {
        this.customField = response.data;
        if (response.data.options) {
          this.customField.options = response.data.options.join(',');
        }
      });
    }
  }
};
</script>
