<template>
  <div>
    <b-row class="mt-3">
      <b-col sm="12" md="4">
        <b-spinner v-if="menuElementsLoading" />
        <b-list-group v-else>
          <draggable v-model="menuElements" group="sort" @end="menuElementsEnd">
            <b-list-group-item
              v-for="(item, key) in menuElements"
              :key="key"
              :active="activeMenuElement.id === item.id"
              @click="handleMenuElement(item.id)"
              class="d-flex justify-content-between align-items-center"
            >
              {{ item.menu_name }}
              <b-button
                size="sm"
                :variant="
                  activeMenuElement.id === item.id
                    ? 'primary'
                    : 'outline-primary'
                "
                @click.stop="editMenuElement(item)"
              >
                <i class="fas fa-edit"></i>
              </b-button>
            </b-list-group-item>
          </draggable>
          <b-list-group-item
            :active="activeMenuElement.id === 'settings'"
            @click="handleMenuElement(null)"
          >
            Ayarlar
          </b-list-group-item>
        </b-list-group>
        <b-button
          v-b-modal.menuElementModal
          variant="success"
          class="mt-3"
          block
        >
          + Yeni Menü Oluştur
        </b-button>
      </b-col>
      <b-col sm="12" md="8">
        <b-spinner v-if="groupsLoading" />
        <draggable v-else v-model="groups" group="sort" @end="groupsEnd">
          <collapse
            v-for="(group, key) in groups"
            :key="key + 2000"
            :title="group.name"
            :editable="true"
            @edit="editGroup(group.name)"
            :deletable="true"
            @delete="deleteGroup(group.name)"
          >
            <draggable
              v-model="group.children"
              group="sort"
              class="row"
              @end="childrenEnd(key)"
            >
              <div
                v-for="(child, ckey) in group.children"
                :key="3000 + ckey"
                :class="`${child.grid_class} mb-3`"
              >
                <b-list-group-item @click="editField(child)">{{
                  child.label
                }}</b-list-group-item>
              </div>
            </draggable>

            <b-button
              @click="
                fieldTo = group.name;
                $refs.addFieldModal.show();
              "
              variant="primary"
              class="mt-3"
              block
              >+ Element Oluştur</b-button
            >
          </collapse>
        </draggable>

        <b-row class="mt-3">
          <b-col
            sm="12"
            v-if="
              ungroupedElements.length === 0 &&
                groups.length === 0 &&
                !groupsLoading
            "
          >
            <b-alert variant="warning" show>
              Hiç menü elementi oluşturmamışsınız!
            </b-alert>
          </b-col>
          <b-col sm="12" v-if="ungroupedElements.length && !groupsLoading">
            <draggable
              v-model="ungroupedElements"
              group="sort"
              class="row"
              @end="ungroupedEnd"
            >
              <div
                v-for="(child, ukey) in ungroupedElements"
                :key="7000 + ukey"
                :class="`${child.grid_class} mb-3`"
              >
                <b-list-group-item @click="editField(child)">{{
                  child.label
                }}</b-list-group-item>
              </div>
            </draggable>
          </b-col>
          <b-col sm="12" md="4">
            <b-button @click="bulkUpdate" variant="info" class="mt-3" block
              >Sıralamayı Kaydet</b-button
            >
          </b-col>
          <b-col sm="12" md="4">
            <b-button
              v-b-modal.addGroupModal
              variant="success"
              class="mt-3"
              block
              >+ Yeni Grup Oluştur</b-button
            >
          </b-col>
          <b-col sm="12" md="4">
            <b-button
              @click="
                fieldTo = '';
                $refs.addFieldModal.show();
              "
              variant="warning"
              class="mt-3"
              block
              >+ Element Oluştur</b-button
            >
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <!-- ADD FIELD MODAL -->
    <b-modal
      ref="addFieldModal"
      id="addFieldModal"
      title="Grup Oluştur"
      hide-footer
      @hide="field = {}"
    >
      <b-form-group label="Label">
        <b-form-input v-model="field.label" />
      </b-form-group>
      <b-form-group label="Type">
        <b-form-select
          v-model="field.type"
          :options="[
            'text',
            'select',
            'textarea',
            'editor',
            'file',
            'image',
            'checkbox',
            'radio',
            'list',
            'key_value',
            'icon_font_awesome',
            'icon_boxicons'
          ]"
        />
      </b-form-group>
      <b-form-group
        v-if="field.type === 'select' || field.type === 'radio'"
        label="Options"
      >
        <b-form-input v-model="field.options" />
      </b-form-group>
      <b-form-group label="Grid Class">
        <b-form-input v-model="field.grid_class" />
      </b-form-group>
      <b-button variant="success" @click="addElement" block>
        Element Kaydet
      </b-button>
      <b-button
        v-if="field.id"
        variant="default"
        class="text-danger"
        @click="deleteMenuElementAction"
        block
      >
        Element'i Sil
      </b-button>
    </b-modal>
    <!--#ADD FIELD MODAL -->

    <!-- ADD GROUP MODAL -->
    <b-modal
      ref="addGroupModal"
      id="addGroupModal"
      title="Grup Oluştur"
      hide-footer
      @hide="group = {}"
    >
      <b-form-group label="Grup Adı">
        <b-form-input v-model="group.name" />
      </b-form-group>
      <b-button variant="success" @click="addGroup" block>
        Grup Kaydet
      </b-button>
    </b-modal>
    <!--#ADD GROUP MODAL -->

    <!-- MENU ELEMENT MODAL -->
    <b-modal
      ref="menuElementModal"
      id="menuElementModal"
      title="Menü Elementi"
      hide-footer
      @hide="menuElement = { type: 'crud' }"
    >
      <b-form>
        <b-form-group label="Icon">
          <b-form-input v-model="menuElement.icon" />
        </b-form-group>
        <b-form-group label="Menü Elementi Adı">
          <b-form-input v-model="menuElement.menu_name" />
        </b-form-group>
        <b-form-group label="Menü Elementi Tipi">
          <b-form-select v-model="menuElement.type">
            <option value="crud">
              CRUD
            </option>
            <option value="custom-page">
              Custom Page
            </option>
          </b-form-select>
        </b-form-group>

        <template v-if="menuElement.type === 'crud'">
          <b-form-group label="Tekil İsim">
            <b-form-input v-model="menuElement.singular_name" />
          </b-form-group>
          <b-form-group label="Çoğul İsim">
            <b-form-input v-model="menuElement.plural_name" />
          </b-form-group>

          <b-form-checkbox v-model="menuElement.category_management">
            Kategori Yönetimi
          </b-form-checkbox>
          <b-form-checkbox v-model="menuElement.thumbnail">
            Thumbnail
          </b-form-checkbox>
          <b-form-checkbox v-model="menuElement.multiple_images">
            Galeri
          </b-form-checkbox>
          <b-form-checkbox v-model="menuElement.content_editor">
            Content Editör
          </b-form-checkbox>
        </template>

        <b-button
          variant="success"
          class="mt-3"
          @click="elementFormSubmit"
          block
        >
          Menü Elementi Kaydet
        </b-button>

        <b-button
          v-if="menuElement.id"
          variant="default"
          class="text-danger"
          @click="deleteMenuElementAction2"
          block
        >
          Menü Elementi Sil
        </b-button>
      </b-form>
    </b-modal>
    <!--#MENU ELEMENT MODAL -->
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import draggable from 'vuedraggable';
import Collapse from '../../../components/Collapse';

export default {
  components: { Collapse, draggable },
  data() {
    return {
      menuElementId: null,
      activeMenuElement: {},
      menuElementsLoading: true,
      groupsLoading: true,
      menuElement: { type: 'crud' },
      menuElements: [],
      groups: [],
      ungroupedElements: [],
      group: {
        edit: false,
        name: ''
      },
      field: {},
      fieldTo: '',
      oldGroupName: ''
    };
  },
  methods: {
    ...mapActions([
      'websiteMenuElements',
      'getWebsiteSettings',
      'getMenuElement',
      'updateMenuElement',
      'createMenuElement',
      'deleteCustomPageSetting',
      'deleteSetting',
      'deleteCustomField',
      'createCustomField',
      'updateCustomField',
      'createSetting',
      'updateSetting',
      'updateSortsOfSettings',
      'updateSortsOfCustomFields',
      'sortMenuElements',
      'getWebsiteInfo',
      'deleteMenuElement'
    ]),

    editMenuElement(item) {
      this.menuElement = {
        ...item,
        category_management: item.category_management === 1,
        content_editor: item.content_editor === 1,
        multiple_images: item.multiple_images === 1,
        thumbnail: item.thumbnail === 1
      };
      this.$refs.menuElementModal.show();
    },

    // Submit menu element form
    async elementFormSubmit() {
      const payload = {
        ...this.menuElement,
        category_management: this.menuElement.category_management || false,
        thumbnail: this.menuElement.thumbnail || false,
        content_editor: this.menuElement.content_editor || false,
        multiple_images: this.menuElement.multiple_images || false,
        singular_name:
          this.menuElement.singular_name || this.menuElement.menu_name,
        plural_name: this.menuElement.plural_name || this.menuElement.menu_name,
        sort: this.menuElements.length
      };
      try {
        let response = null;
        if (payload.id) {
          response = await this.updateMenuElement({
            id: payload.id,
            payload
          });
        } else {
          response = await this.createMenuElement({ data: payload });
        }
        this.success(response.data.message);
        this.$refs.menuElementModal.hide();
        this.getWebsiteInfo();
        this.loadData();
      } catch (error) {
        console.log(error);
      }
    },

    // Edit group name
    editGroup(name) {
      this.group.edit = true;
      this.oldGroupName = name;
      this.group.name = name;
      this.$refs.addGroupModal.show();
    },

    // delete menu element
    deleteMenuElementAction() {
      const id = this.field.id;
      this.$swal({
        icon: 'warning',
        title: 'Emin misiniz?',
        text: 'Ayar kalıcı olarak silinecek, emin misiniz?',
        showCancelButton: true,
        cancelButtonText: 'Cancel'
      }).then(result => {
        if (result.value) {
          let action = 'deleteCustomPageSetting';
          if (this.activeMenuElement.type === 'crud') {
            action = 'deleteCustomField';
          }
          this[action](id).then(response => {
            this.success(response.data.message);
          });
          this.$refs.addFieldModal.hide();
          this.loadData();
        }
      });
    },

    // delete menu element
    deleteMenuElementAction2() {
      const id = this.menuElement.id;
      this.$swal({
        icon: 'warning',
        title: 'Emin misiniz?',
        text: 'Menü elementi kalıcı olarak silinecek, emin misiniz?',
        showCancelButton: true,
        cancelButtonText: 'Cancel'
      }).then(result => {
        if (result.value) {
          this.deleteMenuElement(id).then(response => {
            this.success(response.data.message);
            this.$refs.menuElementModal.hide();
            this.getWebsiteInfo();
          });
        }
      });
    },

    // delete group
    deleteGroup(name) {
      this.$swal({
        icon: 'warning',
        title: 'Emin misiniz?',
        text:
          'Grup kalıcı olarak silinecek ve altındaki elementler grupsuz olacaklar, emin misiniz?',
        showCancelButton: true,
        cancelButtonText: 'Cancel'
      }).then(result => {
        if (result.value) {
          const group = this.groups.find(g => g.name === name);
          group.children.forEach(item => {
            this.ungroupedElements.push({
              ...item,
              group_name: ''
            });
          });
          this.groups = this.groups.filter(g => g.name !== name);
          this.sortAction();
        }
      });
    },

    editField(f) {
      this.field = f;
      this.$refs.addFieldModal.show();
    },

    // Sort action
    sortAction() {
      let groupSort = 1;
      this.groups.map(group => {
        group.sort = groupSort;

        let childSort = 1;
        group.children = group.children.map(child => {
          child.sort = this.paddleNumber(groupSort, childSort);
          child.group_name = group.name;
          childSort++;
          return child;
        });

        groupSort++;
        return group;
      });

      let ungroupedSort = 100000;
      this.ungroupedElements = this.ungroupedElements.map(child => {
        child.sort = ungroupedSort;
        ungroupedSort++;
        return child;
      });
    },

    // Bulk update
    async bulkUpdate() {
      const payload = [];
      this.groups.map(group => {
        group.children.map(child => {
          payload.push({
            id: child.id,
            group_name: child.group_name,
            sort: child.sort
          });
        });
      });

      this.ungroupedElements.map(child => {
        payload.push({
          id: child.id,
          group_name: '',
          sort: child.sort
        });
      });

      const method = `updateSortsOf${
        this.activeMenuElement.type === 'custom-page' ||
        this.activeMenuElement.id === 'settings'
          ? 'Settings'
          : 'CustomFields'
      }`;
      try {
        const response = await this[method]({
          menu_element_id: this.activeMenuElement.id,
          fields: payload
        });
        this.success(response.data.message);
      } catch (error) {
        this.error(error.response?.data?.message || error.message);
      }
    },

    paddleNumber(groupSort, childSort) {
      return parseInt(`${groupSort}${this.padNumber(childSort)}`);
    },

    // Sort menu elements
    menuElementsEnd() {
      let sort = 1;
      const elements = this.menuElements.map(item => {
        item.sort = sort;
        sort++;
        return item;
      });
      this.menuElements = elements;
      this.sortMenuElements({
        payload: elements.map(item => {
          return {
            id: item.id,
            sort: item.sort
          };
        })
      }).then(() => {
        this.getWebsiteInfo();
      });
    },

    // Sort groups
    groupsEnd() {
      let sort = 1;
      const groups = this.groups.map(item => {
        item.sort = sort;
        sort++;
        return item;
      });
      this.groups = groups;
      this.sortAction();
    },

    // Sort children
    childrenEnd(key) {
      let sort = 1;
      const elements = this.groups[key].children.map(item => {
        item.sort = sort;
        sort++;
        return item;
      });
      this.groups[key].children = elements;
      this.sortAction();
    },

    ungroupedEnd() {
      let sort = 1;
      const elements = this.ungroupedElements.map(item => {
        item.sort = sort;
        sort++;
        return item;
      });
      this.ungroupedElements = elements;
      this.sortAction();
    },

    // Get menu element fields
    handleMenuElement(id = null) {
      if (
        this.activeMenuElement.id === id ||
        (this.activeMenuElement.id === 'settings' && id === null)
      )
        return;

      this.groupsLoading = true;

      let method = 'getMenuElement';
      let parameter = id;
      this.activeMenuElement = JSON.parse(
        JSON.stringify(this.menuElements.find(i => i.id === id) || {})
      );

      if (!id) {
        method = 'getWebsiteSettings';
        parameter = {};
        this.activeMenuElement = { id: 'settings' };
      }

      this[method](parameter).then(response => {
        let _data = null;
        if (method === 'getWebsiteSettings') {
          _data = response.data;
        } else {
          if (response.data.type === 'custom-page') {
            _data = response.data.settings;
          } else {
            _data = response.data.custom_fields;
          }
        }

        this.groups = [];
        this.ungroupedElements = [];

        // Group data by group_name property
        let groupCount = 1;
        _data.forEach(item => {
          if (item.group_name && item.group_name.length) {
            let group = this.groups.find(
              group => group.name === item.group_name
            );
            if (!group) {
              this.groups.push({
                name: item.group_name,
                sort: groupCount,
                children: []
              });
              groupCount++;
              group = this.groups.find(group => group.name === item.group_name);
            }
            group.children.push({
              ...item
            });
          } else {
            this.ungroupedElements.push(item);
          }
        });

        this.sortAction();

        this.groupsLoading = false;
      });
    },

    // Create new group
    addGroup() {
      // if group name is empty, show error
      if (!this.group.name || !this.group.name.length) {
        this.error('Grup adı giriniz!');
        return;
      }
      if (this.group.edit) {
        this.groups.find(
          i => i.name === this.oldGroupName
        ).name = this.group.name;
        this.$refs.addGroupModal.hide();
      } else {
        this.groups.push({
          ...this.group,
          sort: this.groups.length + 1,
          children: []
        });
      }
      this.$refs.addGroupModal.hide();
    },

    // Add element to group
    addElement() {
      if (this.field.id) {
        // Edit action
        let method = 'updateCustomField';
        if (
          this.activeMenuElement.type === 'custom-page' ||
          this.activeMenuElement.id === 'settings'
        ) {
          method = 'updateSetting';
        }
        this[method]({
          id: this.field.id,
          data: this.field
        })
          .then(() => {
            this.success('Element başarıyla güncellendi!');
          })
          .catch(() => {
            this.error('Element güncellenirken bir hata oluştu!');
          });
      } else {
        // Prepare parameters for submit
        let group;
        if (this.fieldTo && this.fieldTo.length) {
          group = this.groups.find(i => i.name === this.fieldTo);
          this.field.sort = group.children?.length + 1;
          this.field.group_name = group.name;
        } else {
          this.field.sort = this.ungroupedElements.length + 1;
          this.field.group_name = '';
        }

        // Sayfa eger crud ise custom field, custom page ise settings olarak gonderilmeli
        let method = 'createCustomField';
        if (
          this.activeMenuElement.type === 'custom-page' ||
          this.activeMenuElement.id === 'settings'
        ) {
          method = 'createSetting';
        }
        this[method]({
          menuElementId: this.activeMenuElement.id,
          data: this.field
        })
          .then(response => {
            this.success('Element başarıyla eklendi.');
            // add element that return from response
            const element = response.data;
            if (this.fieldTo && this.fieldTo.length) {
              group?.children?.push(element);
            } else {
              // add ungrouped elements
              this.ungroupedElements.push(element);
            }
            this.$refs.addFieldModal.hide();
          })
          .catch(() => {
            this.error('Element eklenirken bir hata oluştu.');
          });
      }
    },

    padNumber(number) {
      let paddedNumber = number.toString();
      while (paddedNumber.length < 3) {
        paddedNumber = '0' + paddedNumber;
      }
      return paddedNumber;
    },

    loadData() {
      this.menuElementsLoading = true;
      this.websiteMenuElements().then(response => {
        this.menuElements = response.data;
        this.menuElementsLoading = false;
        this.handleMenuElement();
      });
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style lang="scss" scoped>
.list-group-item {
  cursor: pointer;
  &:not(.active):hover {
    background-color: #f8f8f8;
  }
}
</style>
