<template>
  <div>
    <b-card>
      <b-row class="mb-4">
        <b-col sm="12" md="4">
          <b-form-group label="Icon">
            <b-form-input v-model="element.icon" />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="4">
          <b-form-group label="Type">
            <b-form-select
              v-model="element.type"
              :options="[
                { text: 'CRUD', value: 'crud' },
                { text: 'Custom Page', value: 'custom-page' }
              ]"
            />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="4">
          <b-form-group label="Menu Name">
            <b-form-input v-model="element.menu_name" />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="4" v-if="element.type === 'crud'">
          <b-form-group label="Singular Name">
            <b-form-input v-model="element.singular_name" />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="4" v-if="element.type === 'crud'">
          <b-form-group label="Plural Name">
            <b-form-input v-model="element.plural_name" />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="4">
          <b-form-group label="Sort">
            <b-form-input v-model="element.sort" />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row v-if="element.type === 'crud'">
        <b-col sm="12" md="3">
          <b-form-group label="Category Management">
            <b-form-checkbox v-model="element.category_management" />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="3">
          <b-form-group label="Thumbnail">
            <b-form-checkbox v-model="element.thumbnail" />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="3">
          <b-form-group label="Multiple Images">
            <b-form-checkbox v-model="element.multiple_images" />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="3">
          <b-form-group label="Content Editor">
            <b-form-checkbox v-model="element.content_editor" />
          </b-form-group>
        </b-col>
      </b-row>
    </b-card>

    <div class="w-100 text-right mt-3">
      <b-button @click="submit">
        Kaydet
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'MenuElementForm',
  data() {
    return {
      element: {
        type: 'crud',
        multiple_images: false,
        thumbnail: false,
        content_editor: false,
        category_management: false
      }
    };
  },
  methods: {
    ...mapActions(['getMenuElement', 'createMenuElement', 'updateMenuElement']),
    submit() {
      if (this.$route.params.id) {
        this.updateMenuElement({
          id: this.$route.params.id,
          payload: this.element
        }).then(response => {
          this.success(response.data.message);
        });
      } else {
        this.createMenuElement({
          data: this.element
        }).then(response => {
          this.success(response.data.message);
        });
      }
    }
  },
  mounted() {
    if (this.$route.params.id) {
      this.getMenuElement(this.$route.params.id).then(response => {
        const data = response.data;
        data.category_management = response.data.category_management === 1;
        data.thumbnail = response.data.thumbnail === 1;
        data.multiple_images = response.data.multiple_images === 1;
        data.content_editor = response.data.content_editor === 1;

        data.settings = data.settings.map(item => {
          if (item.options && item.options.length > 0) {
            item.options = item.options.join(',');
          }
          return item;
        });

        data.custom_fields = data.custom_fields.map(item => {
          if (item.options && item.options.length > 0) {
            item.options = item.options.join(',');
          }
          return item;
        });

        this.element = data;
      });
    }
  }
};
</script>
