<template>
  <div>
    <b-form-group label="Label">
      <b-form-input v-model="setting.label" />
    </b-form-group>
    <b-form-group label="Type">
      <b-form-select
        v-model="setting.type"
        :options="[
          'text',
          'select',
          'textarea',
          'editor',
          'file',
          'checkbox',
          'radio',
          'list',
          'key_value',
          'icon_font_awesome',
          'icon_boxicons'
        ]"
      />
    </b-form-group>
    <b-form-group
      v-if="setting.type === 'select' || setting.type === 'radio'"
      label="Options"
    >
      <b-form-input v-model="setting.options" />
    </b-form-group>
    <b-form-group label="Grid Class">
      <b-form-input v-model="setting.grid_class" />
    </b-form-group>
    <b-form-group label="Sort">
      <b-form-input v-model="setting.sort" />
    </b-form-group>
    <b-form-group label="Group Name">
      <b-form-input v-model="setting.group_name" />
    </b-form-group>
    <b-form-group>
      <b-button variant="primary" @click="saveSetting">
        Save
      </b-button>
    </b-form-group>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'SettingForm',
  data() {
    return {
      setting: {}
    };
  },
  methods: {
    ...mapActions(['getSetting', 'updateSetting', 'createSetting']),
    saveSetting() {
      if (this.$route.params.menuElementId) {
        // store
        this.createSetting({
          menuElementId: this.$route.params.menuElementId,
          data: this.setting
        })
          .then(response => {
            this.success(response.data.message);
          })
          .catch(error => {
            this.error(error.response.data.message);
          });
      } else {
        // update
        this.updateSetting({
          id: this.$route.params.settingId,
          data: this.setting
        })
          .then(response => {
            this.success(response.data.message);
          })
          .catch(error => {
            this.error(error.response.data.message);
          });
      }
    }
  },
  mounted() {
    if (this.$route.params.settingId) {
      this.getSetting(this.$route.params.settingId).then(response => {
        this.setting = response.data;
        if (response.data.options) {
          this.setting.options = response.data.options.join(',');
        }
      });
    }
  }
};
</script>
