<template>
  <div>
    <b-card no-body>
      <b-table ref="table" :fields="fields" :items="items">
        <template v-slot:cell(actions)="data">
          <b-dropdown id="dropdown-1" right variant="default" class="m-md-2">
            <b-dropdown-item
              :to="{
                name: 'website.edit-menu-element',
                params: { id: data.item.id }
              }"
            >
              Edit
            </b-dropdown-item>

            <b-dropdown-item
              :to="{
                name:
                  data.item.type === 'crud'
                    ? 'website.menu-elements.custom-fields'
                    : 'website.menu-elements.settings',
                params: { id: data.item.id }
              }"
            >
              {{ data.item.type === 'crud' ? 'Custom Fields' : 'Settings' }}
            </b-dropdown-item>

            <b-dropdown-divider />

            <b-dropdown-item @click="deleteAction(data.item.id)">
              <span class="text-danger">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <loader v-if="!contentLoaded" />
    </b-card>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  data() {
    return {
      contentLoaded: true,
      fields: [
        { key: 'menu_name' },
        { key: 'type' },
        { key: 'actions', label: '', thStyle: { width: '100px' } }
      ]
    };
  },
  methods: {
    ...mapActions(['websiteMenuElements', 'deleteMenuElement']),
    items() {
      return this.websiteMenuElements()
        .then(data => data.data)
        .catch(error => {
          this.error(error.response.data.message);
        });
    },
    deleteAction(id) {
      this.$swal({
        icon: 'warning',
        title: 'Emin misiniz?',
        text: 'Menu elementi kalici olarak silinecek, emin misiniz?',
        showCancelButton: true,
        cancelButtonText: 'Cancel'
      }).then(ok => {
        if (ok.value) {
          this.deleteMenuElement(id)
            .then(response => {
              this.success(response.data.message);
              this.$refs.table.refresh();
            })
            .catch(error => {
              this.error(error.response.data.message);
            });
        }
      });
    }
  }
};
</script>
