<template>
  <div>
    <b-card no-body>
      <b-table ref="table" :fields="fields" :items="rows">
        <template v-slot:cell(role)="data">
          <span v-if="data.item.role === 'admin'">Yetkili</span>
          <b-form-select
            v-else
            v-model="data.item.role"
            :options="[
              { text: 'Yetkili', value: 'admin' },
              { text: 'Editör', value: 'editor' },
              { text: 'Yazar', value: 'author' }
            ]"
            @change="changeUserRoleAction(data.item.id)"
          />
        </template>

        <template v-slot:cell(actions)="data">
          <b-dropdown
            v-if="data.item.role !== 'admin'"
            right
            variant="default"
            class="m-md-2"
          >
            <b-dropdown-item @click="deleteAction(data.item.id)">
              <span class="text-danger">Sil</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <loader v-if="!contentLoaded" />
    </b-card>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  data() {
    return {
      contentLoaded: true,
      fields: [
        { key: 'name', label: 'Ad' },
        { key: 'email' },
        { key: 'role', label: 'Rol' },
        { key: 'actions', label: '', thStyle: { width: '100px' } }
      ],
      rows: []
    };
  },
  methods: {
    ...mapActions(['getWebsiteUsers', 'changeUserRole', 'removeUser']),
    changeUserRoleAction(id) {
      const role = this.rows.find(i => i.id === id).role;
      this.changeUserRole({
        id,
        role
      })
        .then(response => {
          this.success(response.data.message);
          this.items();
        })
        .catch(error => {
          this.error(error.response.data.message);
        });
    },
    items() {
      this.contentLoaded = false;
      this.getWebsiteUsers().then(response => {
        this.rows = response.data;
        this.contentLoaded = true;
      });
    },
    deleteAction(id) {
      this.$swal({
        icon: 'warning',
        title: 'Emin misiniz?',
        text: 'Kullanıcı kalıcı olarak silinecek, emin misiniz?',
        showCancelButton: true
      }).then(ok => {
        if (ok.value) {
          this.removeUser(id)
            .then(response => {
              this.success(response.data.message);
              this.items();
            })
            .catch(error => {
              this.error(error.response.data.message);
            });
        }
      });
    }
  },
  mounted() {
    this.items();
  }
};
</script>
