<template>
  <div>
    <div class="page-title">
      <h4 class="title">
        Sistem Yönetimi
      </h4>

      <div>
        <b-button variant="primary" @click="createLink" v-if="showCreateButton">
          + Yeni Ekle
        </b-button>
      </div>
    </div>

    <b-row>
      <b-col sm="12">
        <b-tabs>
          <b-tab
            title="Özel Alanlar"
            :active="$route.name === 'website.menu-elements'"
            @click="$router.push({ name: 'website.menu-elements' })"
          />
          <!-- <b-tab
            title="Menü Yönetimi"
            :active="$route.name === 'website.navigations'"
            @click="$router.push({ name: 'website.navigations' })"
          /> -->
          <b-tab
            title="Kullanıcılar"
            :active="$route.name === 'website.users'"
            @click="$router.push({ name: 'website.users' })"
          />
          <b-tab
            title="Dil Yönetimi"
            :active="$route.name === 'website.languages'"
            @click="$router.push({ name: 'website.languages' })"
          />
          <b-tab
            title="API"
            :active="$route.name === 'website.api'"
            @click="$router.push({ name: 'website.api' })"
          />
          <!-- <b-tab title="Siteyi Kopyala" @click="copyWebsiteAction" /> -->
          <b-tab title="Siteyi Sil" @click="deleteWebsiteAction" />
          <router-view />
        </b-tabs>
      </b-col>
    </b-row>

    <b-modal v-model="showUserModal" title="Yeni Kullanıcı Ekle">
      <b-form-group label="Kayıtlı Email">
        <b-form-input v-model="modal.email" />
      </b-form-group>
      <b-form-group label="Rol">
        <b-form-select
          v-model="modal.role"
          :options="[
            { text: 'Yetkili', value: 'admin' },
            { text: 'Editör', value: 'editor' },
            { text: 'Yazar', value: 'author' }
          ]"
        />
      </b-form-group>
      <template v-slot:modal-footer>
        <b-button
          variant="secondary"
          @click="
            modal = {};
            showUserModal = false;
          "
        >
          Vazgeç
        </b-button>
        <b-button variant="primary" @click="createUserAction">
          Kaydet
        </b-button>
      </template>
    </b-modal>

    <b-modal v-model="showLanguageModal" title="Yeni Dil Ekle">
      <b-form-group label="Dil Adı">
        <b-form-input v-model="modal.name" />
      </b-form-group>
      <b-form-group label="Kısaltma">
        <b-form-input v-model="modal.short" />
      </b-form-group>
      <b-form-group label="Yön">
        <b-form-select
          v-model="modal.direction"
          :options="[
            { text: 'Soldan sağa (ltr)', value: 'ltr' },
            { text: 'Sağdan sola (rtl)', value: 'rtl' }
          ]"
        />
      </b-form-group>
      <template v-slot:modal-footer>
        <b-button
          variant="secondary"
          @click="
            modal = {};
            showLanguageModal = false;
          "
        >
          Vazgeç
        </b-button>
        <b-button variant="primary" @click="createLanguageAction">
          Kaydet
        </b-button>
      </template>
    </b-modal>

    <!-- Navigation Create Modal -->
    <b-modal v-model="showNavigationModal" title="Yeni Navigation Ekle">
      <b-form-group label="Navigation Adı">
        <b-form-input v-model="modal.name" />
      </b-form-group>
      <b-form-group label="Görsel">
        <b-form-checkbox v-model="modal.image_usage" />
      </b-form-group>
      <b-form-group label="Açıklama">
        <b-form-checkbox v-model="modal.description_usage" />
      </b-form-group>
      <template v-slot:modal-footer>
        <b-button
          variant="secondary"
          @click="
            modal = {};
            showNavigationModal = false;
          "
        >
          Vazgeç
        </b-button>
        <b-button variant="primary" @click="createNavigationAction">
          Kaydet
        </b-button>
      </template>
    </b-modal>

    <!-- Copy Website Modal -->
    <b-modal v-model="showCopyWebsiteModal" title="Siteyi Kopyala">
      <p>Siteyi kopyalamak istediğinizden emin misiniz?</p>
      <b-form-group label="Yeni Site Adı">
        <b-form-input v-model="copyWebsiteModal.name" />
      </b-form-group>
      <template v-slot:modal-footer>
        <b-button variant="secondary" @click="showCopyWebsiteModal = false">
          Vazgeç
        </b-button>
        <b-button variant="primary" @click="copyWebsiteHandler">
          Kopyala
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  data() {
    return {
      showUserModal: false,
      showLanguageModal: false,
      showNavigationModal: false,
      showCopyWebsiteModal: false,
      copyWebsiteModal: {},
      modal: {}
    };
  },
  computed: {
    ...mapGetters(['website', 'websites']),
    showCreateButton() {
      const routesToShowCreateButton = [
        'website.users',
        'website.languages',
        'website.navigations',
        'website.menu-elements.custom-fields',
        'website.menu-elements.settings'
      ];
      return routesToShowCreateButton.includes(this.$route.name);
    }
  },
  methods: {
    ...mapActions([
      'addUser',
      'createLanguage',
      'createNavigation',
      'copyWebsite',
      'deleteWebsite'
    ]),
    deleteWebsiteAction() {
      this.$swal({
        title: 'Emin misiniz?',
        text: 'Bu işlem geri alınamaz!',
        icon: 'warning',
        buttons: ['İptal', 'Evet, sil'],
        dangerMode: true
      }).then(response => {
        if (response.value) {
          this.deleteWebsite({
            id: this.website.id
          }).then(() => {
            this.success('Silindi!', 'Web sitesi başarıyla silindi.');
            localStorage.setItem(
              'website',
              this.websites.filter(website => website.id !== this.website.id)[0]
                .id
            );
            window.location.href = '/';
          });
        }
      });
    },
    copyWebsiteAction() {
      this.showCopyWebsiteModal = true;
    },
    copyWebsiteHandler() {
      this.copyWebsite({
        name: this.copyWebsiteModal.name,
        id: this.website.id
      }).then(response => {
        this.success(response.data.message);
        this.copyWebsiteModal = {};
        this.showCopyWebsiteModal = false;
      });
    },
    createNavigationAction() {
      this.createNavigation(this.modal)
        .then(response => {
          this.success(response.data.message);
          this.modal = {};
          this.showNavigationModal = false;
        })
        .catch(error => {
          this.error(error.response.data.message);
        });
    },
    createUserAction() {
      this.addUser({
        email: this.modal.email,
        role: this.modal.role
      })
        .then(response => {
          this.success(response.data.message);
          this.modal = {};
          this.showUserModal = false;
        })
        .catch(error => {
          this.error(error.response.data.message);
        });
    },
    createLanguageAction() {
      this.createLanguage(this.modal)
        .then(response => {
          this.success(response.data.message);
          this.modal = {};
          this.showLanguageModal = false;
        })
        .catch(error => {
          this.error(error.response.data.message);
        });
    },
    createLink() {
      switch (this.$route.name) {
        case 'website.menu-elements':
          this.$router.push({ name: 'website.create-menu-element' });
          break;
        case 'website.menu-elements.custom-fields':
          this.$router.push({
            name: 'website.menu-elements.create-custom-field',
            params: { menuElementId: this.$route.params.id }
          });
          break;
        case 'website.menu-elements.settings':
          this.$router.push({
            name: 'create-setting',
            params: { menuElementId: this.$route.params.id }
          });
          break;
        case 'website.users':
          this.showUserModal = true;
          break;
        case 'website.languages':
          this.showLanguageModal = true;
          break;
        case 'website.navigations':
          this.showNavigationModal = true;
          break;
      }
    }
  }
};
</script>

<style scoped>
.page-title {
  height: 50px;
}
</style>
