<template>
  <div>
    <div class="page-title">
      <h4 class="title">
        Navigasyon Menüler
      </h4>
    </div>

    <div class="mb-4">
      <div v-if="contentLoaded">
        <collapse v-for="item in items" :key="item.id" :title="item.name">
          <div class="menu-preview">
            <nav-item :items="item.value" />
          </div>
          <b-row>
            <b-col class="text-right">
              <b-button
                variant="primary"
                @click="saveNavigationAction(item.id, item.value)"
              >
                Değişiklikleri Kaydet
              </b-button>
            </b-col>
          </b-row>
        </collapse>
      </div>
    </div>

    <b-modal
      v-model="navigationModalActive"
      title="Sayfa Düzenle"
      @hide="setNavigationModalActive(false)"
    >
      <b-row>
        <b-col>
          <b-form-group label="Icon">
            <b-form-input v-model="navigation.icon" />
          </b-form-group>
        </b-col>

        <b-col>
          <b-form-group label="Label">
            <b-form-input v-model="navigation.label" />
          </b-form-group>
        </b-col>

        <b-col>
          <b-form-group label="Link">
            <b-form-input v-model="navigation.link" />
          </b-form-group>
        </b-col>
      </b-row>
    </b-modal>
  </div>
</template>

<script>
import Collapse from '../../components/Collapse';
import NavItem from './NavItem';
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'Navigations',
  components: { Collapse, NavItem },
  data() {
    return {
      contentLoaded: false,
      items: []
    };
  },
  computed: {
    ...mapGetters(['navigationModalActive', 'navigation'])
  },
  methods: {
    ...mapActions(['listNavigations', 'updateNavigationData']),
    ...mapMutations(['setNavigationModalActive']),
    saveNavigationAction(id, payload) {
      this.updateNavigationData({
        id,
        data: { value: payload }
      })
        .then(response => {
          this.success(response.data.message);
        })
        .catch(error => {
          this.error(error.response.data.message);
        });
    },
    load() {
      this.contentLoaded = false;
      this.listNavigations().then(response => {
        this.items = response.data;
        this.contentLoaded = true;
      });
    }
  },
  mounted() {
    this.load();
  }
};
</script>

<style lang="scss" scoped>
.menu-preview {
  padding-left: 3px;
}
form {
  padding-right: 23px;
}
</style>
