<template>
  <ul>
    <li v-for="item in items" :key="item.id + '-' + item.label">
      <span>
        <span>{{ item.label }}</span>
        <span class="icon">
          <a href="#" class="edit" @click.prevent="editAction(item)"
            ><i class="fas fa-edit"
          /></a>
          <a href="#" class="delete" @click.prevent="deleteAction(item)"
            ><i class="far fa-trash-alt"
          /></a>
        </span>
      </span>
      <nav-item v-if="item.children" :items="item.children" />
    </li>
    <li class="new-item">
      <span @click.prevent="addNew">+ Alt sayfa ekle</span>
    </li>
  </ul>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'NavItem',
  components: {
    NavItem: this
  },
  props: {
    items: {
      type: Array,
      required: false
    }
  },
  methods: {
    ...mapMutations(['setNavigation', 'setNavigationModalActive']),
    addNew() {
      this.items.push({
        id: this.makeId(10),
        label: 'Yeni Menü',
        link: '/yeni-menu',
        icon: 'home',
        children: []
      });
    },
    editAction(item) {
      this.setNavigation(item);
      this.setNavigationModalActive(true);
    },
    deleteAction(item) {
      this.items.splice(this.items.indexOf(item), 1);
    },
    makeId(strLen) {
      var result = '';
      var characters =
        'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      var charactersLength = characters.length;
      for (var i = 0; i < strLen; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        );
      }
      return result;
    }
  }
};
</script>

<style lang="scss" scoped>
ul {
  list-style: none;
  padding-left: 20px;
  border-right: 1px solid rgb(240, 240, 240);
  li {
    border-left: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    margin-top: 10px;
    margin-bottom: 10px;
    & > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      font-size: 14px;
      .icon {
        font-size: 12px;
        .delete {
          margin-left: 10px;
        }
      }
    }
  }

  li.new-item {
    & > span {
      background: rgb(192, 204, 255) !important;
      color: rgb(0, 0, 165) !important;
    }
  }

  li:not(.new-item) {
    & > span {
      background: rgb(37, 37, 37);
      color: #fff;
    }
  }
}
</style>
