<template>
  <div>
    <div class="page-title">
      <h4 class="title">
        {{ menuElement.menu_name }}
      </h4>
    </div>

    <div class="mb-4">
      <div v-if="contentLoaded">
        <collapse
          v-for="setting in settingGroups"
          :key="setting"
          :title="setting"
        >
          <b-row>
            <div
              v-for="(formElement, key) in collapse(setting)"
              :key="100 + key"
              :class="formElement.grid_class"
            >
              <form-element
                :element="formElement"
                @uploadImage="uploadPhoto"
                @uploadFile="uploadPhoto"
              />
            </div>
          </b-row>
        </collapse>
        <b-row>
          <div
            v-for="(setting, key) in otherSettings"
            :key="key"
            :class="setting.grid_class"
          >
            <form-element
              :element="setting"
              @uploadImage="uploadPhoto"
              @uploadFile="uploadPhoto"
            />
          </div>
        </b-row>
      </div>
      <loader v-else />
    </div>
    <b-row>
      <b-col class="text-right">
        <b-button :disabled="loading" @click="update">
          Kaydet
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Collapse from '../components/Collapse';
import FormElement from '../components/FormElement';
import { mapActions } from 'vuex';

export default {
  name: 'Settings',
  components: { Collapse, FormElement },
  data() {
    return {
      contentLoaded: false,
      loading: false,
      collapseSettings: {},
      otherSettings: [],
      menuElement: {
        menu_name: ''
      }
    };
  },
  methods: {
    ...mapActions(['customPage', 'imageUpload', 'updateCustomPage']),
    update() {
      this.loading = true;
      this.updateCustomPage({
        slug: this.slug,
        request: this.prepareRequest()
      })
        .then(response => {
          this.success(response.data.message);
          this.loading = false;
        })
        .catch(error => {
          this.error(error.response.data.message);
          this.loading = false;
        });
    },
    prepareRequest() {
      const request = {};
      Object.values(this.collapseSettings).map(arr => {
        arr.map(item => {
          request['setting-' + item.id] = item.value;
        });
      });
      this.otherSettings.map(item => {
        request['setting-' + item.id] = item.value;
      });
      return request;
    },
    loadData() {
      this.contentLoaded = false;
      this.customPage(this.slug)
        .then(json => json.data)
        .then(res => {
          this.collapseSettings = res.collapseSettings;
          this.otherSettings = res.otherSettings;
          this.menuElement = res.element;
          this.contentLoaded = true;
        });
    },
    collapse(name) {
      return this.collapseSettings[name];
    },
    uploadPhoto(data) {
      data.element.loading = true;
      this.imageUpload(data.formData).then(response => {
        data.element.value = response.data.file_url;
        data.element.loading = false;
      });
    }
  },
  computed: {
    // Get current menu element slug from route
    slug() {
      return this.$route.params.customSlug;
    },
    settingGroups() {
      return Object.keys(this.collapseSettings);
    }
  },
  watch: {
    slug() {
      this.loadData();
    }
  },
  mounted() {
    // Get current menu element
    this.loadData();
  }
};
</script>
