<template>
  <div>
    <!-- Navigations List -->
    <b-card no-body>
      <b-table
        :fields="[
          { key: 'name', label: 'Başlık' },
          { key: 'image_usage', label: 'Görsel' },
          { key: 'description_usage', label: 'Açıklama' },
          { key: 'actions', label: '' }
        ]"
        :items="rows"
      >
        <template v-slot:cell(image_usage)="data">
          <span>{{ data.item.image_usage ? 'Evet' : 'Hayır' }}</span>
        </template>

        <template v-slot:cell(description_usage)="data">
          <span>{{ data.item.description_usage ? 'Evet' : 'Hayır' }}</span>
        </template>

        <template v-slot:cell(actions)="data">
          <b-dropdown right variant="default" class="m-md-2">
            <b-dropdown-item @click="edit(data.item)">
              <span>Düzenle</span>
            </b-dropdown-item>
            <b-dropdown-item @click="deleteNavigationAction(data.item)">
              <span class="text-danger">Sil</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
    </b-card>

    <!-- Navigations Modal -->
    <b-modal v-model="showNavigationModal" title="Navigasyon Düzenle">
      <b-form-group label="Başlık">
        <b-form-input v-model="modal.name" />
      </b-form-group>
      <b-form-group label="Görsel">
        <b-form-checkbox v-model="modal.image_usage" />
      </b-form-group>
      <b-form-group label="Açıklama">
        <b-form-checkbox v-model="modal.description_usage" />
      </b-form-group>
      <template v-slot:modal-footer>
        <b-button
          variant="secondary"
          @click="
            modal = {};
            showNavigationModal = false;
          "
        >
          Vazgeç
        </b-button>
        <b-button variant="primary" @click="updateNavigationAction">
          Kaydet
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      contentLoaded: false,
      showNavigationModal: false,
      modal: {},
      rows: []
    };
  },
  methods: {
    ...mapActions([
      'listNavigations',
      'createNavigation',
      'updateNavigation',
      'deleteNavigation'
    ]),
    load() {
      this.contentLoaded = false;
      this.listNavigations().then(response => {
        this.rows = response.data;
        this.contentLoaded = true;
      });
    },
    edit(navigation) {
      this.modal = JSON.parse(JSON.stringify(navigation));
      this.modal.image_usage = navigation.image_usage ? true : false;
      this.modal.description_usage = navigation.description_usage
        ? true
        : false;
      this.showNavigationModal = true;
    },
    updateNavigationAction() {
      this.updateNavigation({
        id: this.modal.id,
        data: this.modal
      })
        .then(response => {
          this.success(response.data.message);
          this.modal = {};
          this.showNavigationModal = false;
          this.load();
        })
        .catch(error => {
          this.error(error.response.data.message);
        });
    },
    deleteNavigationAction(data) {
      this.$swal({
        title: 'Navigasyonu silmek istediğinize emin misiniz?',
        text: 'Bu işlem geri alınamaz!',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          this.deleteNavigation(data.id)
            .then(response => {
              this.success(response.data.message);
              this.load();
            })
            .catch(error => {
              this.error(error.response.data.message);
            });
        }
      });
    }
  },
  mounted() {
    this.load();
  }
};
</script>
