<template>
  <div class="collapse-container" style="position:relative">
    <a
      href="#"
      :class="{ 'collapse-button': true, 'collapse-open': isOpen }"
      @click="toggleCollapse"
    >
      {{ title }}
    </a>
    <b-badge
      v-if="editable"
      style="position:absolute;right:45px;top:14px;cursor:pointer"
      variant="info"
      @click="$emit('edit')"
      >Düzenle</b-badge
    >
    <b-badge
      v-if="deletable"
      style="position:absolute;right:10px;top:14px;cursor:pointer"
      variant="danger"
      @click="$emit('delete')"
      >Sil</b-badge
    >
    <b-collapse v-model="isOpen">
      <div class="collapse-content">
        <slot />
      </div>
    </b-collapse>
  </div>
</template>

<script>
export default {
  name: 'Collapse',
  props: {
    title: {
      type: String,
      required: true
    },
    editable: {
      type: Boolean,
      default: false
    },
    deletable: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isOpen: false
    };
  },
  methods: {
    toggleCollapse(e) {
      e.preventDefault();
      this.isOpen = !this.isOpen;
    }
  }
};
</script>
