<template>
  <!-- Checkbox -->
  <b-form-group v-if="element.type === 'checkbox'">
    <div class="d-flex align-items-center">
      <span class="mr-3">
        <b>{{ element.label }}</b>
      </span>
      <b-form-checkbox value="1" unchecked-value="2" v-model="element.value" />
    </div>
  </b-form-group>
  <!--#Checkbox -->

  <!-- Font Awesome Icon -->
  <b-form-group
    v-else-if="element.type === 'icon_font_awesome'"
    class="component-bg"
  >
    <label>
      {{ element.label }}
      <a href="https://fontawesome.com/icons" target="_blank" class="ml-2">
        <b-badge variant="success">Ikonları Görüntüle</b-badge>
      </a>
    </label>
    <div class="d-flex icon-input align-items-center">
      <div class="icon-preview" style="position:relative;">
        <i :class="element.value" />
      </div>
      <div class="w-100">
        <v-select
          v-model="vSelectValue"
          :options="fontAwesomeIcons"
          @input="vSelectChanged"
        />
      </div>
    </div>
  </b-form-group>
  <!--#Font Awesome Icon -->

  <!-- BoxIcons Icon -->
  <b-form-group
    v-else-if="element.type === 'icon_boxicons'"
    class="component-bg"
  >
    <label>
      {{ element.label }}
      <a href="https://boxicons.com" target="_blank" class="ml-2">
        <b-badge variant="success">Ikonları Görüntüle</b-badge>
      </a>
    </label>
    <div class="d-flex icon-input align-items-center">
      <div class="icon-preview" style="position:relative;">
        <i :class="`bx ${element.value}`" />
      </div>
      <div class="w-100">
        <v-select
          v-model="vSelectValue"
          :options="boxIcons"
          @input="vSelectChanged"
        />
      </div>
    </div>
  </b-form-group>
  <!--#BoxIcons Icon -->

  <b-form-group v-else class="component-bg">
    <label for="">{{ element.label }}</label>

    <!-- Key-Value Component -->
    <div v-if="element.type === 'key_value'">
      <b-row v-for="(val, key) in element.value" :key="key">
        <b-col>
          <div class="d-flex align-items-center">
            <div class="w-100 pr-2">
              <b-row>
                <b-col sm="12" md="3">
                  <b-form-group label="Key">
                    <b-form-input v-model="val.key" />
                  </b-form-group>
                </b-col>
                <b-col sm="12" md="9">
                  <b-form-group label="Value">
                    <b-form-input v-model="val.value" />
                  </b-form-group>
                </b-col>
              </b-row>
            </div>
            <div style="padding-top:20px;">
              <b-button
                variant="danger"
                class="pt-1 pb-1"
                @click="removeRow(key)"
              >
                > X
              </b-button>
            </div>
          </div>
        </b-col>
      </b-row>
      <b-row class="mt-2">
        <b-col>
          <a href="#" @click.prevent="addRow()">+ Yeni Ekle</a>
        </b-col>
      </b-row>
    </div>
    <!--#Key-Value Component -->

    <!-- List Component -->
    <div v-if="element.type === 'list'">
      <b-row v-for="(val, key) in element.value" :key="key">
        <b-col>
          <div class="d-flex align-items-center">
            <div class="w-100 pr-2">
              <b-form-group label="Value">
                <b-form-input v-model="val.value" />
              </b-form-group>
            </div>
            <div style="padding-top:20px;">
              <b-button
                variant="danger"
                class="pt-1 pb-1"
                @click="removeRow(key)"
              >
                X
              </b-button>
            </div>
          </div>
        </b-col>
      </b-row>
      <b-row class="mt-2">
        <b-col>
          <a href="#" @click.prevent="addRow()">+ Yeni Ekle</a>
        </b-col>
      </b-row>
    </div>
    <!--#List Component -->

    <!-- Text Input -->
    <b-form-input
      v-if="element.type === 'text'"
      v-model="element.value"
      :placeholder="element.placeholder"
    />
    <!--#Text Input -->

    <!-- Color picker -->
    <b-form-input
      v-else-if="element.type === 'color'"
      type="color"
      v-model="element.value"
    />
    <!--#Color picker -->

    <!-- Select -->
    <b-form-select
      v-else-if="element.type === 'select'"
      v-model="element.value"
      :options="element.options"
    />
    <!--#Select -->

    <!-- Textarea -->
    <b-form-textarea
      v-else-if="element.type === 'textarea'"
      v-model="element.value"
      :placeholder="element.placeholder"
    />
    <!--#Textarea -->

    <!-- Radio Buttons -->
    <div v-else-if="element.type === 'radio'">
      <b-form-radio
        v-for="(option, okey) in element.options"
        :key="1000 + okey"
        v-model="element.value"
        :value="option"
      >
        {{ option }}
      </b-form-radio>
    </div>
    <!--#Radio Buttons -->

    <!-- Editor -->
    <ckeditor v-else-if="element.type === 'editor'" v-model="element.value" />
    <!--#Editor -->

    <!-- File Input -->
    <div
      v-else-if="element.type === 'image'"
      class="d-flex file-input align-items-center"
    >
      <div class="image-preview" style="position:relative;">
        <div
          v-if="element.loading"
          class="spinner d-flex align-items-center justify-content-center"
          style="position:absolute;background:rgba(255,255,255,.4);width:100%;height:100%;"
        >
          <b-spinner variant="default" />
        </div>
        <img :src="element.value" />
      </div>
      <b-form-file v-model="file" @change="uploadImage" />
    </div>
    <!--#File Input -->

    <!-- File Input -->
    <div
      v-else-if="element.type === 'file'"
      class="d-flex file-input align-items-center"
    >
      <div class="image-preview" style="position:relative;">
        <div
          v-if="element.loading"
          class="spinner d-flex align-items-center justify-content-center"
          style="position:absolute;background:rgba(255,255,255,.4);width:100%;height:100%;"
        >
          <b-spinner variant="default" />
        </div>
        <i
          v-if="element.value && element.value.length"
          class="fas fa-file-code"
        ></i>
      </div>
      <b-form-file v-model="file" @change="uploadFile" />
    </div>
    <!--#File Input -->
  </b-form-group>
</template>

<script>
import { fontAwesomeIcons, boxIcons } from '../config/icons';

export default {
  name: 'FormElement',
  props: ['element'],
  data() {
    return {
      file: null,
      fontAwesomeIcons,
      boxIcons,
      vSelectValue: null
    };
  },
  mounted() {
    if (this.element.type === 'key_value' || this.element.type === 'list') {
      this.element.value = this.element.value
        ? JSON.parse(this.element.value)
        : [];
    }
    this.vSelectValue = JSON.parse(JSON.stringify(this.element.value));
  },
  methods: {
    vSelectChanged() {
      this.element.value = JSON.parse(JSON.stringify(this.vSelectValue.value));
    },
    uploadImage() {
      this.element.loading = true;
      setTimeout(() => {
        const formData = new FormData();
        formData.append('file', this.file);
        this.$emit('uploadImage', {
          formData: formData,
          element: this.element
        });
      }, 300);
    },
    uploadFile() {
      this.element.loading = true;
      setTimeout(() => {
        const formData = new FormData();
        formData.append('file', this.file);
        this.$emit('uploadFile', {
          formData: formData,
          element: this.element
        });
      }, 300);
    },
    addRow() {
      const addData =
        this.element.type === 'key_value'
          ? { key: '', value: '' }
          : { value: '' };
      this.element.value.push(addData);
    },
    removeRow(key) {
      this.element.value.splice(key, 1);
    }
  }
};
</script>
