<template>
  <div class="profile-area">
    <div class="image">
      <img :src="imageUrl" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfileInfo',
  props: ['imageUrl', 'name', 'slogan']
};
</script>
