<template>
  <li :class="{ 'dropdown-link': true, opened: isOpen }">
    <a href="#" @click="toggleCollapse">
      <div class="icon"><i :class="icon" /></div>
      <span>{{ name }}</span>
      <div class="arrow">
        <i class="fas fa-sort-down" />
      </div>
    </a>
    <b-collapse v-model="isOpen">
      <slot />
    </b-collapse>
  </li>
</template>

<script>
export default {
  name: 'SidebarDropdown',
  props: ['name', 'icon'],
  data() {
    return {
      isOpen: false
    };
  },
  methods: {
    toggleCollapse(e) {
      e.preventDefault();
      this.isOpen = !this.isOpen;
    }
  }
};
</script>
