<template>
  <li>
    <router-link :to="to" tag="a">
      <div class="icon">
        <i :class="icon" />
      </div>
      <span>{{ name }}</span>
    </router-link>
  </li>
</template>

<script>
export default {
  name: 'SidebarLink',
  props: ['name', 'icon', 'to']
};
</script>
