<template>
  <b-card header no-body>
    <b-table ref="table" :fields="fields" :items="items" foot-clone>
      <!-- Custom Slots -->
      <template v-slot:cell(thumbnail)="data">
        <img
          v-if="data.item.thumbnail"
          :src="data.item.thumbnail.thumbnail"
          height="40"
        />
        <img v-else src="http://placehold.it/90x40" height="40" />
      </template>

      <template v-slot:cell(categories)="data">
        {{ categories(data.item.categories) }}
      </template>

      <template v-slot:cell(status)="data">
        <b-badge :variant="statusVariant(data.item.status)">
          {{ statusText(data.item.status) }}
        </b-badge>
      </template>

      <template v-slot:cell(created_at)="data">
        {{ calendarTime(data.item.created_at) }}
      </template>
      <template v-slot:cell(published_at)="data">
        {{ calendarTime(data.item.published_at) }}
      </template>
      <!--#Custom Slots -->

      <template v-slot:cell(actions)="data">
        <b-dropdown id="dropdown-1" right variant="default" class="m-md-2">
          <b-dropdown-item
            :to="{
              name: 'edit-post',
              params: {
                singularSlug: element ? element.singular_name_slug : '',
                id: data.item.id
              }
            }"
          >
            Düzenle
          </b-dropdown-item>
          <b-dropdown-divider />
          <b-dropdown-item @click="deleteAction(data.item.id)">
            <span class="text-danger">Sil</span>
          </b-dropdown-item>
        </b-dropdown>
      </template>
    </b-table>
  </b-card>
</template>

<script>
import { mapActions } from 'vuex';
import moment from 'moment';
export default {
  name: 'TableComponent',
  props: ['fields', 'items', 'element'],
  methods: {
    ...mapActions(['deletePost']),
    calendarTime(t) {
      return moment(t).calendar(null, {
        lastDay: '[Dün] HH:mm',
        sameDay: '[Bugün] HH:mm',
        lastWeek: '[Geçen] dddd HH:mm',
        nextWeek: '[Gelecek] dddd HH:mm',
        sameElse: 'DD.MM.YYYY HH:mm'
      });
    },
    categories(c) {
      const names = [];
      c.map(item => {
        names.push(item.category.name);
      });
      return names.join(', ');
    },
    deleteAction(id) {
      this.deletePost(id).then(() => {
        this.$refs.table.refresh();
      });
    },
    statusVariant(status) {
      switch (status) {
        case 'active':
          return 'success';
        case 'pasive':
          return 'danger';
        case 'timing':
          return 'warning';
      }
    },
    statusText(status) {
      switch (status) {
        case 'active':
          return 'Aktif';
        case 'pasive':
          return 'Pasif';
        case 'timing':
          return 'Zamanlanmış';
      }
    },
    refresh() {
      this.$refs.table.refresh();
    }
  }
};
</script>
