<template>
  <div>
    <b-card no-body>
      <b-table
        ref="table"
        :fields="[
          { key: 'name', label: 'Başlık' },
          { key: 'short', label: 'Kısaltma' },
          { key: 'direction', label: 'Yön' },
          { key: 'actions', label: '' }
        ]"
        :items="rows"
      >
        <template v-slot:cell(actions)="data">
          <b-dropdown right variant="default" class="m-md-2">
            <b-dropdown-item @click="edit(data.item)">
              <span>Düzenle</span>
            </b-dropdown-item>
            <b-dropdown-item @click="deleteAction(data.item)">
              <span class="text-danger">Sil</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <loader v-if="!contentLoaded" />
    </b-card>

    <b-modal v-model="showLanguageModal" title="Yeni Dil Ekle">
      <b-form-group label="Dil Adı">
        <b-form-input v-model="modal.name" />
      </b-form-group>
      <b-form-group label="Kısaltma">
        <b-form-input v-model="modal.short" />
      </b-form-group>
      <b-form-group label="Yön">
        <b-form-select
          v-model="modal.direction"
          :options="[
            { text: 'Soldan sağa (ltr)', value: 'ltr' },
            { text: 'Sağdan sola (rtl)', value: 'rtl' }
          ]"
        />
      </b-form-group>
      <template v-slot:modal-footer>
        <b-button
          variant="secondary"
          @click="
            modal = {};
            showLanguageModal = false;
          "
        >
          Vazgeç
        </b-button>
        <b-button variant="primary" @click="updateLanguageAction">
          Kaydet
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  data() {
    return {
      contentLoaded: false,
      showLanguageModal: false,
      modal: {},
      rows: []
    };
  },
  methods: {
    ...mapActions([
      'getLanguages',
      'createLanguage',
      'updateLanguage',
      'deleteLanguage'
    ]),
    load() {
      this.contentLoaded = false;
      this.getLanguages().then(response => {
        this.rows = response.data;
        this.contentLoaded = true;
      });
    },
    edit(language) {
      this.modal = JSON.parse(JSON.stringify(language));
      this.showLanguageModal = true;
    },
    updateLanguageAction() {
      this.updateLanguage({
        id: this.modal.id,
        data: this.modal
      })
        .then(response => {
          this.success(response.data.message);
          this.modal = {};
          this.showLanguageModal = false;
          this.load();
        })
        .catch(error => {
          this.error(error.response.data.message);
        });
    },
    deleteAction(id) {
      this.$swal({
        icon: 'warning',
        title: 'Emin misiniz?',
        text:
          'Dil kalıcı olarak silinecek ve bu dile bağlı içerikler kaybolacak, emin misiniz?',
        showCancelButton: true,
        cancelButtonText: 'Cancel'
      }).then(ok => {
        if (ok.value) {
          this.deleteLanguage(id)
            .then(response => {
              this.success(response.data.message);
              this.load();
            })
            .catch(error => {
              this.error(error.response.data.message);
            });
        }
      });
    }
  },
  mounted() {
    this.load();
  }
};
</script>
