<template>
  <div id="form-page">
    <b-container
      fluid
      style="height: 100vh"
      class="d-flex align-items-center justify-content-center"
    >
      <b-col lg="3" md="4" sm="12">
        <b-form @submit="submit">
          <b-card title="Kayıt Ol">
            <b-form-group label="Web site başlığı">
              <b-input v-model="form.title" required />
            </b-form-group>
            <b-form-group label="Ad Soyad">
              <b-input v-model="form.name" required />
            </b-form-group>
            <b-form-group label="E-mail">
              <b-input v-model="form.email" required />
            </b-form-group>
            <b-form-group label="Parola">
              <b-input v-model="form.password" type="password" required />
            </b-form-group>
            <b-form-group class="d-flex justify-content-center text-center">
              <b-button
                type="submit"
                variant="primary"
                class="login-button d-flex align-items-center"
              >
                <span v-if="loading" class="icon">
                  <i class="fas fa-redo-alt" />
                </span>
                Kayıt Ol
              </b-button>
            </b-form-group>
          </b-card>
        </b-form>
      </b-col>
    </b-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
  name: 'Register',
  data() {
    return {
      loading: false,
      form: {
        title: '',
        name: '',
        email: '',
        password: ''
      }
    };
  },
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    ...mapActions(['registerAction']),
    submit(e) {
      e.preventDefault();
      this.loading = true;
      this.registerAction(this.form)
        .then(() => {
          this.loading = false;
          window.location.href = '/';
        })
        .catch(() => {
          // this.error(error.response.data.message);
          this.loading = false;
        });
    }
  },
  mounted() {
    if (this.user && this.user.name) {
      this.$router.push({ name: 'home' });
    }
  }
};
</script>

<style>
.login-button span.icon {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 10px;
  transform-origin: 50% 50%;
  -webkit-animation: reload 2s linear infinite;
  animation: reload 2s linear infinite;
}
@-webkit-keyframes reload {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes reload {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
