<template>
  <div>
    <div v-show="contentLoaded">
      <div class="page-title">
        <h4 class="title">
          {{ element && element.singular_name }} Kategorileri
        </h4>
        <b-button variant="primary" @click="openModal">
          + Yeni Ekle
        </b-button>
      </div>

      <b-card no-body>
        <b-table ref="table" :fields="fields" :items="items">
          <template v-slot:cell(parent_name)="data">
            {{ data.item.parent_name || 'Belirtilmemis' }}
          </template>

          <template v-slot:cell(actions)="data">
            <b-dropdown id="dropdown-1" right variant="default" class="m-md-2">
              <b-dropdown-item @click="editCategory(data.item)">
                Düzenle
              </b-dropdown-item>
              <b-dropdown-divider />
              <b-dropdown-item @click="deleteAction(data.item.id)">
                <span class="text-danger">Sil</span>
              </b-dropdown-item>
            </b-dropdown>
          </template>
        </b-table>
      </b-card>
    </div>
    <loader v-if="!contentLoaded" />

    <b-modal
      ref="modal"
      title="Kategori Yönetimi"
      ok-title="Kaydet"
      cancel-title="İptal"
      @ok="submit"
      @cancel="reset"
    >
      <b-form-group label="Kategori Adı">
        <b-form-input v-model="category.name" />
      </b-form-group>
      <b-form-group label="Sıralama">
        <b-form-input v-model="category.sort" type="number" />
      </b-form-group>
      <!-- <b-form-group label="Üst Kategori">
        <b-form-select
          v-model="category.parent_id"
          :options="computedCategoriesOptions"
        ></b-form-select>
      </b-form-group> -->
    </b-modal>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'Categories',
  data() {
    return {
      contentLoaded: false,
      element: null,
      fields: [
        { key: 'name', label: 'Başlık' },
        { key: 'sort', label: 'Sıralama' },
        {
          key: 'actions',
          label: 'İşlem',
          thStyle: { width: '100px !important' }
        }
      ],
      categoriesOptions: [],
      category: {
        name: '',
        sort: 1,
        parent_id: ''
      }
    };
  },
  methods: {
    ...mapActions([
      'categories',
      'storeCategory',
      'updateCategory',
      'deleteCategory'
    ]),
    editCategory(category) {
      this.category = JSON.parse(JSON.stringify(category));
      this.$refs.modal.show();
    },
    deleteAction(id) {
      this.deleteCategory(id).then(() => {
        this.$refs.table.refresh();
      });
    },
    submit() {
      if (this.category.id) {
        // edit
        this.updateCategory(this.category)
          .then(response => {
            this.$refs.table.refresh();
            this.success(response.data.message);
          })
          .catch(error => {
            this.error(error.response.data.message);
          });
      } else {
        // create
        this.storeCategory({
          category: this.category,
          element_id: this.element.id
        })
          .then(response => {
            this.$refs.table.refresh();
            this.success(response.data.message);
          })
          .catch(error => {
            this.error(error.response.data.message);
          });
      }
      this.reset();
    },
    reset() {
      this.category = {
        name: '',
        sort: 1,
        parent_id: ''
      };
    },
    openModal() {
      this.$refs.modal.show();
    },
    items() {
      return this.categories(this.singularSlug)
        .then(data => data.data)
        .then(response => {
          this.element = response.element;
          this.contentLoaded = true;
          this.categoriesOptions = response.categories.data.map(item => {
            return {
              text: item.name,
              value: item.id
            };
          });
          return response.categories.data;
        });
    }
  },
  computed: {
    singularSlug() {
      return this.$route.params.singularSlug;
    },
    computedCategoriesOptions() {
      if (this.category.name !== '') {
        return this.categoriesOptions.filter(
          item => item.value !== this.category.id
        );
      } else {
        return this.categoriesOptions;
      }
    }
  }
};
</script>
