<template>
  <loader v-if="!contentLoaded" />
  <div v-else>
    <div class="page-title">
      <h4 class="title">{{ element && element.singular_name }} Oluştur</h4>
    </div>
    <b-form @submit="formSubmit">
      <b-row class="mb-2">
        <b-col
          sm="12"
          :md="element.thumbnail || element.category_management ? 9 : 12"
        >
          <b-tabs content-class="mt-3">
            <b-tab title="Genel Bilgiler" active>
              <!-- General -->
              <b-form-group class="component-bg">
                <label>Başlık</label>
                <b-form-input v-model="post.title" @input="titleChanged" />
                <div class="slug-input-area">
                  <span>/ </span>
                  <input v-model="post.slug" type="text" class="slug-input" />
                </div>
              </b-form-group>

              <b-form-group
                v-if="element && element.content_editor"
                class="component-bg"
              >
                <label>İçerik</label>
                <ckeditor v-model="post.content" />
              </b-form-group>

              <b-row class="mb-4">
                <div
                  v-for="(field, key) in customFields"
                  :key="key"
                  :class="field.grid_class"
                >
                  <form-element
                    :element="field"
                    accept="image/*"
                    @uploadImage="uploadPhoto"
                    @uploadFile="uploadFileAction"
                  />
                </div>
              </b-row>
              <!--#General -->
            </b-tab>
            <b-tab title="SEO Ayarları">
              <b-form-group class="component-bg">
                <label>SEO Açıklaması</label>
                <b-form-textarea v-model="post.meta_description" />
              </b-form-group>
              <b-form-group class="component-bg">
                <label>SEO Anahtar Kelimeleri</label>
                <b-form-input v-model="post.meta_keywords" />
              </b-form-group>
            </b-tab>

            <b-tab v-if="element && element.multiple_images" title="Görseller">
              <b-table
                v-if="imagesUploaded && imagesUploaded.length > 0"
                :fields="imagesTableFields"
                :items="imagesUploaded"
                class="mb-2"
              >
                <template v-slot:cell(preview)="data">
                  <img
                    v-if="data.item.image"
                    :src="data.item.image.thumbnail"
                    width="50"
                  />
                </template>

                <template v-slot:cell(actions)="data">
                  <b-badge
                    variant="danger"
                    style="cursor:pointer"
                    @click="deleteImageAction(data.item.id)"
                  >
                    Kaldır
                  </b-badge>
                </template>
              </b-table>

              <vue-dropzone
                id="dropzone"
                ref="myVueDropzone"
                :options="dropzoneOptions"
                @vdropzone-success="fileUploaded"
              />
            </b-tab>
          </b-tabs>
        </b-col>

        <b-col
          sm="12"
          :md="element.thumbnail || element.category_management ? 3 : 12"
        >
          <b-form-group class="component-bg">
            <label>Sıralama</label>
            <b-form-input v-model="post.sort" type="number" />
          </b-form-group>
          <b-button
            variant="primary"
            class="mb-3"
            type="submit"
            :disabled="loading"
            block
          >
            Kaydet
          </b-button>
          <!-- Thumbnail -->
          <b-card
            v-if="element && element.thumbnail"
            title="Öne Çıkan Görsel"
            class="mb-4"
            no-body
          >
            <div class="image-preview mb-2" style="position:relative">
              <div
                v-if="thumbnailLoading"
                class="spinner d-flex align-items-center justify-content-center"
                style="position:absolute;background:rgba(255,255,255,.4);width:100%;height:100%;"
              >
                <b-spinner variant="default" />
              </div>
              <img :src="post.thumbnail.thumbnail" />
            </div>
            <b-form-file
              v-model="thumbnail"
              accept="image/*"
              @change="uploadThumbnail"
            />
          </b-card>
          <!--#Thumbnail -->

          <!-- Category Management -->
          <b-form-group
            v-if="element && element.category_management"
            class="component-bg"
          >
            <label>Kategori Seçimi</label>
            <v-select
              v-model="category"
              :options="categoriesOptions"
              class="mb-3"
              @input="selectCategory"
            />
            <ul class="list-unstyled pl-0 mb-0">
              <li v-for="(c, i) in post.categories" :key="i">
                {{ c.label }}
                <a href="#" @click.prevent="removeCategory(c.value)"
                  >(kaldır)</a
                >
              </li>
            </ul>
          </b-form-group>
          <!--#Category Management -->
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
var debounce;
import FormElement from '../../components/FormElement';
import { mapActions, mapGetters } from 'vuex';
import { baseUrl } from '../../config';
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.min.css';

const getToken = localStorage.getItem('access_token');
const website = localStorage.getItem('website');

export default {
  name: 'PostForm',
  components: { FormElement, vueDropzone: vue2Dropzone },
  data() {
    return {
      contentLoaded: false,
      loading: false,
      thumbnailLoading: false,
      element: null,
      categories: null,
      customFields: [],
      post: {
        title: '',
        meta_description: '',
        meta_keywords: '',
        sort: '1',
        slug: '',
        content: '',
        thumbnail: {},
        categories: [],
        newImages: [],
        images: []
      },
      imagesUploaded: [],
      imagesTableFields: [
        { key: 'preview', label: 'Dosya' },
        {
          key: 'actions',
          label: 'İşlem',
          thClass: 'text-right',
          tdClass: 'text-right'
        }
      ],
      dropzoneOptions: {
        url: baseUrl + 'image-upload-s3',
        thumbnailWidth: 150,
        maxFilesize: 2,
        headers: {
          Authorization: `Bearer ${getToken}`,
          Website: website
        }
      },
      thumbnail: null,
      category: null
    };
  },
  methods: {
    ...mapActions([
      'createPost',
      'editPost',
      'storePost',
      'updatePost',
      'imageUpload',
      'fileUpload',
      'deletePostImage',
      'postSlugFromTitle',
      'postSlugFromSlug'
    ]),
    titleChanged(title) {
      clearTimeout(debounce);
      debounce = setTimeout(() => {
        this.postSlugFromTitle(title)
          .then(data => data.data)
          .then(response => {
            this.post.slug = response.slug;
          });
      }, 300);
    },
    slugChanged(slug) {
      this.postSlugFromSlug(slug)
        .then(data => data.data)
        .then(response => {
          this.post.slug = response.slug;
        });
    },
    deleteImageAction(id) {
      this.deletePostImage(id)
        .then(response => {
          this.success(response.data.message);
          this.imagesUploaded = this.imagesUploaded.filter(
            item => item.id !== id
          );
        })
        .catch(error => {
          this.error(error.response.data.message);
        });
    },
    fileUploaded(file, response) {
      this.post.images.push({
        id: response.id,
        thumbnail: response.file_url
      });
    },
    uploadPhoto(data) {
      data.element.loading = true;
      this.imageUpload(data.formData).then(response => {
        data.element.value = response.data.file_url;
        data.element.loading = false;
      });
    },
    uploadFileAction(data) {
      data.element.loading = true;
      this.fileUpload(data.formData).then(response => {
        data.element.value = response.data.file_url;
        data.element.loading = false;
      });
    },
    formSubmit(e) {
      this.loading = true;
      e.preventDefault();
      if (this.pageType === 'edit') {
        this.updatePost({
          post: this.post,
          custom_fields: this.customFields,
          id: this.id
        })
          .then(response => {
            this.success(response.data.message);
            this.$router.push({
              name: 'posts-list',
              params: { pluralSlug: this.element.plural_name_slug }
            });
            this.loading = false;
          })
          .catch(err => {
            this.error(err.response.data.message);
            this.loading = false;
          });
      } else {
        this.storePost({
          ...this.post,
          custom_fields: this.customFields,
          menu_element_id: this.element.id
        })
          .then(response => {
            this.success(response.data.message);
            this.$router.push({
              name: 'posts-list',
              params: { pluralSlug: this.element.plural_name_slug }
            });
            this.loading = false;
          })
          .catch(err => {
            this.error(err.response.data.message);
            this.loading = false;
          });
      }
    },
    selectCategory(category) {
      this.post.categories.push(category);
      this.category = null;
    },
    removeCategory(id) {
      this.post.categories = this.post.categories.filter(c => c.value !== id);
    },
    uploadThumbnail() {
      this.thumbnailLoading = true;
      setTimeout(() => {
        const formData = new FormData();
        formData.append('file', this.thumbnail);
        this.imageUpload(formData)
          .then(res => {
            this.success('Görsel başarıyla yüklendi!');
            this.post.thumbnail.id = res.data.id;
            this.post.thumbnail.thumbnail = res.data.thumbnail;
          })
          .then(() => {
            this.thumbnailLoading = false;
            this.$forceUpdate();
          });
      }, 300);
    },
    loadData() {
      this.contentLoaded = false;
      if (this.id) {
        this.editPost(this.id)
          .then(data => data.data)
          .then(response => {
            this.element = response.element;
            this.categories = response.categories;
            this.customFields = response.custom_fields;
            if (!response.post.thumbnail) {
              response.post.thumbnail = { thumbnail: '' };
            }
            this.post = response.post;
            this.imagesUploaded = response.post.images;
            this.post.images = [];

            this.post.categories = response.post.categories.map(item => {
              return {
                value: item.category.id,
                label: item.category.name
              };
            });
            this.contentLoaded = true;
          });
      } else {
        this.createPost(this.slug)
          .then(data => data.data)
          .then(response => {
            this.element = response.element;
            this.categories = response.categories;
            this.customFields = response.custom_fields.map(item => {
              item.value = '';
              return item;
            });
            this.contentLoaded = true;
          });
      }
    }
  },
  mounted() {
    this.loadData();
  },
  computed: {
    ...mapGetters(['website']),
    slug() {
      return this.$route.params.singularSlug;
    },
    pageType() {
      return this.id ? 'edit' : 'create';
    },
    id() {
      return this.$route.params.id || false;
    },
    categoriesOptions() {
      return this.categories.filter(
        item => !this.post.categories.includes(item)
      );
    }
  },
  watch: {
    slug() {
      this.loadData();
    }
  }
};
</script>
