<template>
  <div>
    <div v-show="contentLoaded">
      <div class="page-title">
        <h4 class="title">Tüm {{ element && element.plural_name }}</h4>
        <b-link
          :to="{ name: 'create-post', params: { singularSlug: singularSlug } }"
          class="btn btn-primary"
        >
          + Yeni Ekle
        </b-link>
      </div>
      <table-component
        ref="table"
        :fields="fields"
        :items="items"
        :element="element"
      />

      <div class="w-100 d-flex justify-content-center mt-4">
        <b-pagination
          v-model="pagination.currentPage"
          :total-rows="pagination.totalRows"
          :per-page="pagination.perPage"
        />
      </div>
    </div>
    <loader v-if="!contentLoaded" />
  </div>
</template>

<script>
import TableComponent from '../../components/TableComponent';

import { mapActions } from 'vuex';

export default {
  name: 'PostsList',
  components: { TableComponent },
  data() {
    return {
      contentLoaded: false,
      pagination: {
        currentPage: 1,
        perPage: 15,
        totalRows: 1
      },
      perPage: 15,
      element: null
    };
  },
  methods: {
    ...mapActions(['postsList']),
    items() {
      this.contentLoaded = false;
      return this.postsList({
        plural_slug: this.pluralSlug,
        page: this.pagination.currentPage
      })
        .then(data => data.data)
        .then(response => {
          this.element = response.element;
          this.contentLoaded = true;
          this.pagination.totalRows = response.posts.total;
          return response.posts.data;
        });
    }
  },
  computed: {
    singularSlug() {
      return this.element ? this.element.singular_name_slug : '';
    },
    pluralSlug() {
      return this.$route.params.pluralSlug;
    },
    fields() {
      let fields = [];

      if (this.element && this.element.thumbnail) {
        fields.push({ key: 'thumbnail', label: 'Thumbnail' });
      }

      fields.push({ key: 'title', label: 'Başlık' });

      if (this.element && this.element.category_management) {
        fields.push({ key: 'categories', label: 'Kategoriler' });
      }

      fields.push(
        // { key: "status", label: "Durum" },
        { key: 'created_at', label: 'Oluşturulma Tarihi' },
        // { key: "published_at", label: "Paylaşılma Tarihi" },
        {
          key: 'actions',
          label: 'İşlem',
          thStyle: { width: '100px !important' }
        }
      );

      return fields;
    }
  },
  watch: {
    pluralSlug() {
      this.$refs.table.refresh();
    },
    'pagination.currentPage'() {
      this.$refs.table.refresh();
    }
  }
};
</script>
