<template>
  <div id="dashboard">
    <Sidebar />
    <div id="content">
      <TopNavbar v-if="showNavbar" />
      <div id="main-content">
        <router-view v-if="!loading" />
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from '../layout/Sidebar';
import TopNavbar from '../layout/TopNavbar';
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'DashboardLayout',
  components: { Sidebar, TopNavbar },
  data() {
    return {
      showNavbar: false
    };
  },
  computed: {
    ...mapGetters(['loading'])
  },
  methods: {
    ...mapActions(['getWebsiteInfo'])
  },
  mounted() {
    this.showNavbar = false;
    this.getWebsiteInfo().then(() => {
      this.showNavbar = true;
    });
  }
};
</script>
