<template>
  <div id="sidebar" :class="{ opened: menuOpened }">
    <!-- Profile Info -->
    <h2>COLOR</h2>
    <!--#Profile Info -->

    <!-- Menu -->
    <sidebar-menu>
      <div class="d-flex">
        <b-form-select
          v-if="website"
          v-model="website.id"
          :options="
            websites.map(item => {
              return {
                text: `Site: ${item.name}`,
                value: item.id
              };
            })
          "
          class="mb-3 websites-list-select"
          @change="updateWebsite"
        />
        <a
          href="#"
          class="create-website"
          @click.prevent="showCreateWebsiteModal = true"
          >+</a
        >
      </div>

      <sidebar-link
        v-if="website.show_menu_management"
        icon="fas fa-bars"
        :to="{ name: 'navigations' }"
        name="Menü Yönetimi"
      />

      <div v-for="(element, key) in menuElements" :key="key">
        <sidebar-dropdown
          v-if="element.type === 'crud'"
          :icon="element.icon"
          :name="element.menu_name"
        >
          <sidebar-link
            icon="fas fa-plus"
            :to="{
              name: 'create-post',
              params: { singularSlug: element.singular_name_slug }
            }"
            :name="`${element.singular_name} Oluştur`"
          />

          <sidebar-link
            icon="fas fa-list"
            :to="{
              name: 'posts-list',
              params: { pluralSlug: element.plural_name_slug }
            }"
            :name="`Tüm ${element.plural_name}`"
          />

          <sidebar-link
            v-if="element.category_management"
            icon="fas fa-atom"
            :to="{
              name: 'categories',
              params: { singularSlug: element.singular_name_slug }
            }"
            :name="`${element.singular_name} Kategorileri`"
          />
        </sidebar-dropdown>

        <sidebar-link
          v-else
          :icon="element.icon"
          :to="{ name: 'custom-page', params: { customSlug: element.slug } }"
          :name="element.menu_name"
        />
      </div>

      <sidebar-link
        icon="fas fa-cog"
        :to="{ name: 'settings' }"
        name="Ayarlar"
      />

      <sidebar-link
        v-if="user && user.role === 'admin'"
        icon="fas fa-wrench"
        :to="{ name: 'system-management' }"
        name="Sistem Yönetimi"
      />
    </sidebar-menu>
    <!--#Menu -->

    <div class="divider" />

    <!-- Logout Button -->
    <div class="logout-button">
      <b-button variant="secondary" block @click="logoutAction">
        <span>Çıkış Yap</span>
      </b-button>
    </div>
    <!--#Logout Button -->

    <b-modal
      v-model="showCreateWebsiteModal"
      title="Web sitesi oluştur"
      size="lg"
    >
      <b-row>
        <b-col sm="12" md="6">
          <b-form-group label="Site İsmi">
            <b-form-input v-model="createWebsiteModal.title" />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="6">
          <b-form-group label="Slug">
            <b-form-input v-model="createWebsiteModal.slug" />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="12" md="4">
          <b-form-group label="Dil">
            <b-form-input v-model="createWebsiteModal.language_name" />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="4">
          <b-form-group label="Dil Kodu">
            <b-form-input v-model="createWebsiteModal.language_short" />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="4">
          <b-form-group label="Yön">
            <b-form-select
              v-model="createWebsiteModal.language_direction"
              :options="languageDirections"
            />
          </b-form-group>
        </b-col>
      </b-row>
      <h6>Tema</h6>
      <b-row>
        <b-col
          sm="12"
          md="4"
          v-for="theme in themes"
          :key="theme.id"
          class="mb-3"
        >
          <b-card
            :class="{
              'theme-card': true,
              selected: createWebsiteModal.theme === theme.id
            }"
            @click="createWebsiteModal.theme = theme.id"
          >
            <h5>{{ theme.name }}</h5>
            <p class="mb-2">{{ theme.description }}</p>
            <small class="text-muted">
              Yazar: {{ theme.author }} {{ theme.version }}
            </small>
          </b-card>
        </b-col>
      </b-row>
      <template v-slot:modal-footer>
        <b-button
          variant="secondary"
          @click="
            createWebsiteModal = {};
            showCreateWebsiteModal = false;
          "
        >
          Vazgeç
        </b-button>
        <b-button variant="primary" @click="createWebsiteAction">
          Oluştur
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import SidebarMenu from '../components/SidebarMenu';
import SidebarLink from '../components/SidebarLink';
import SidebarDropdown from '../components/SidebarDropdown';

import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Sidebar',
  components: { SidebarMenu, SidebarLink, SidebarDropdown },
  data() {
    return {
      showCreateWebsiteModal: false,
      createWebsiteModal: {
        title: '',
        slug: '',
        theme: 'default',
        language_name: '',
        language_short: '',
        language_direction: 'ltr'
      },
      themes: [],
      languageDirections: [
        { text: 'Soldan Sağa', value: 'ltr' },
        { text: 'Sağdan Sola', value: 'rtl' }
      ]
    };
  },
  computed: {
    ...mapGetters(['menuOpened', 'menuElements', 'website', 'websites', 'user'])
  },
  mounted() {
    this.getThemes().then(response => {
      this.themes = response.data;
    });
  },
  methods: {
    ...mapActions(['createWebsite', 'logout', 'getThemes']),
    createWebsiteAction() {
      this.createWebsite(this.createWebsiteModal)
        .then(response => {
          localStorage.setItem('website', response.data.id);
          location.reload();
        })
        .catch(error => {
          this.$swal({
            icon: 'error',
            title: 'Hata',
            text: error.response.data.message
          });
        });
    },
    updateWebsite(newWebsiteId) {
      localStorage.setItem('website', newWebsiteId);
      window.location.href = '/ayarlar';
    },
    logoutAction() {
      this.logout().then(() => {
        window.location.href = '/giris-yap';
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.websites-list-select {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: transparent !important;
  cursor: pointer;
}
.create-website {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 38px;
  color: #495057;
  background: #fff;
  border: 1px solid #ced4da;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.theme-card {
  cursor: pointer;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem;
  &.selected {
    border-color: #007bff !important;
  }
}
</style>
