<template>
  <div id="top-nav">
    <nav class="left">
      <ul>
        <li class="burger-button">
          <a href="#" @click="menuSetting"><i class="fas fa-bars"/></a>
        </li>
      </ul>
    </nav>
    <nav class="right">
      <ul>
        <li>
          <div class="d-flex">
            <b-form-select
              v-model="language"
              :options="
                languages.map(item => {
                  return {
                    text: `Site Dili: ${item.name}`,
                    value: item.short
                  };
                })
              "
              @change="updateLanguage"
            />
          </div>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

const language = localStorage.getItem('lang') || 'tr';

export default {
  name: 'TopNavbar',
  data() {
    return {
      language
    };
  },
  computed: {
    ...mapGetters(['menuOpened', 'languages'])
  },
  methods: {
    ...mapActions(['setMenuOpened']),
    updateLanguage(newLanguage) {
      localStorage.setItem('lang', newLanguage);
      location.reload();
    },
    menuSetting(e) {
      e.preventDefault();
      this.setMenuOpened(!this.menuOpened);
    }
  }
};
</script>
